/**
 *			Dark Theme
 */

.scheme_dark,
.scheme_dark .help {
	color: #DCDCDC;
	background-color: #201F1D;
}

.scheme_dark #autosaveTooltip {
	color: #DCDCDC;
}

.scheme_dark .btn {
	color: #DCDCDC;
	border: solid 1px rgb(184, 117, 58);
}

.scheme_dark .btn.disabled {
	color: #DCDCDC;
	border: solid 1px rgb(104, 66, 33);
}

.scheme_dark .btn:hover{
	border: solid 1px orange;
	/*background: inherit;*/
	background-color: #222222;

}

.scheme_dark ::-webkit-scrollbar-thumb {
    background: rgb(56, 54, 51);
	border-radius: 40px;
}

.scheme_dark ::-webkit-scrollbar-track {
    background: #201F1D;
    border-radius: 50px;
}

/*.scheme_dark .btn:hover span {
	text-shadow: -0.01ex 0 #DCDCDC, 0.01ex 0 #DCDCDC;
}

.scheme_dark .btn:hover span.limited {
	text-shadow: -0.06ex 0 #b32222, 0.06ex 0 #b32222;
}*/

.scheme_dark .btn.disabled {
	border: solid 1px #805326;
}

.scheme_dark .btn.disabled:hover {
	border: solid 1px #805326;
	cursor: inherit;
}

.scheme_dark .limited,
.scheme_dark .btn.modern.disabled.limited span.btnTitle {
	color: #b32222;
}

.scheme_dark .highlited {
	background-color: #403F3D;
}

.scheme_dark a {
	color: #868686;
}

.scheme_dark a:hover {
	color: #969696;
	opacity: 1.0;
}

.scheme_dark div {
	color: #DCDCDC;
}
.scheme_dark .disabled div {
	color: #565656;
}

.scheme_dark .button_tooltip div {
	color: #DCDCDC;
}

.scheme_dark table {
	color: #DCDCDC;
}

.scheme_dark .activeTab {
	color: #DCDCDC;
}

.scheme_dark .button_tooltip {
	color: white;
	background-color: #201F1D;
}

.scheme_dark .maxRes,
.scheme_dark select > option:disabled {
	color: #555;
}

.scheme_dark .btn .noRes {
	color: #CF6060;
}

.scheme_dark td.resLimitWarn {
	color: coral;
}

.scheme_dark .btn.modern a {
	color: gray;
	background-color: #212121;
}

.scheme_dark .btn.modern a.enabled {
	color: #DCDCDC;
}

.scheme_dark table.craftTable tr:hover td {
	background-color: rgba(155, 250, 155, 0.2);
}

.scheme_dark .toolbarIcon.sorrow div {
	color: white;
}

.scheme_dark input[type="button"] {
    cursor: pointer;
    background-color: #201F1D !important;
    cursor: pointer !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.3) !important;
    border: 1px solid gray !important;
    border-radius: 1px !important;
    outline: 0 !important;
    color: white;
    padding: 5px 20px;
}

.scheme_dark select,
.scheme_dark select>option{
    background-color: #201F1D;
    color: white;
}

.scheme_dark .res-cell.craft-link:hover {
    text-decoration: underline;
    text-shadow: -0.06ex 0 white, 0.06ex 0 white;
}

.scheme_dark .map-cell .label,
.scheme_dark .map-cell .coord{
	color: #201F1D;
}

.scheme_dark .tooltip-content {
	background-color: #201F1D;
}

.scheme_dark #tooltip .desc {
	color: gray;
}

.scheme_dark #tooltip .effectName {
	color: gray;
}

.scheme_dark #topBar .toolbarIcon.pollutionIcon div {
    color: #808080;
}

.scheme_dark .toolbarIcon.pollutionIcon {
    background: no-repeat top left url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='14' fill='%23808080' viewBox='0 0 16 16'%3E%3Cpath d='M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z'/%3E%3C/svg%3E");
}

.scheme_dark .toolbarIcon.energy.warning {
    background: no-repeat top left url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='13' fill='%23b32222' viewBox='0 0 16 16'%3E%3Cpath d='M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z'/%3E%3C/svg%3E");
}
