/* ************************************************************* */
/* ***			Greenish 1.0.0 Theme © Volkeyrn              *** */
/* ************************************************************* */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:ital,wght@300,400,600,700,300italic,400italic,600italic,700italic,&display=swap);
@import url(https://fonts.googleapis.com/css?family=Cabin:ital,wght@400,600,700,400italic,600italic,700italic,&display=swap);

/* ******************************************** */
/* ******************* GAME ******************* */
/* ******************************************** */

body.scheme_greenish {
	background-color: #caecbc;
}
.scheme_greenish #gamePageContainer,
.scheme_greenish select,
.scheme_greenish .btn,
.scheme_greenish .modern,
.scheme_greenish .btn.modern,
.scheme_greenish input[type='button'] {
	font-family: 'Cabin', sans-serif;
}
.scheme_greenish .btn {
	color: gray;
	margin-bottom: 6px; /* default margin-bottom: 10px; */
	background-color: transparent;
	border: solid 1px transparent;
    /* default padding: 5px; */
	/* default width: 170px; */
	max-height: 36px;
}
.scheme_greenish .btn.modern {
	/* default font-size: 14px; */
	/* default font-family: Helvetica; */
    /* default border: solid 1px transparent; */
    /* default padding: 0; */
	border-radius: 11px;/* default border-radius: 3px; */
	width: 266px; /* default width: 264px; */
}
.scheme_greenish .btn.modern.disabled {
	border: solid 1px #b5d0b1;
	background: #c2e1b6;
}
.scheme_greenish .btn.modern.disabled:hover {
	box-shadow: 0 0 0 1px #95cb80;
}
.scheme_greenish .btn.modern.disabled span.btnTitle { /* to change only the properties of the button name for buttons disabled */
	color: #606060;
}
.scheme_greenish .btn.modern.disabled.limited span.btnTitle { /* to change only the properties of the button name for buttons limited */
	color: #c5282e;
}
.scheme_greenish .btn.modern:not(.disabled) {
	border: solid 1px #b5d0b1;
	background:	#e4f5dd;
}
.scheme_greenish .btn.modern:not(.disabled):hover {
	background: #a7e090;
	box-shadow: 0 0 0 1px #c3eab3;
}
.scheme_greenish .btn.modern:not(.disabled) span.btnTitle { /* to change only the properties of the button name for buttons enabled */
	color: #1a2e20;
}
.scheme_greenish a {
	color: #602a14;
}
.scheme_greenish a,
.scheme_greenish .craft-link {
    text-decoration: none;
}
.scheme_greenish a:hover {
	color: #a04621;
	opacity: 1.0; /* default opacity: 0.6 */
}
.scheme_greenish div {
	color: #202020;
}
.scheme_greenish .disabled div { /* color text for disabled */
	color: #606060;
}
.scheme_greenish h1 {
	/* default margin-top: 30px; */
	font-size: 18px; /* default font size = font-size: 12px; */
	text-transform: capitalize;
	color: #1b8539;
	padding-left: 20px;
	margin-bottom: 8px;
}
.scheme_greenish h1:first-child {
    margin-top: 15px;
}
/* .scheme_greenish .btn.modern.small-text { */
	/* default font-size: 90%; */
/* } */
.scheme_greenish .modern .btnContent {
    padding: 10px 0 10px 1px; /* 1px left for buttons without power background-image */
}
/* *** green and red light for machine on/off *** */
.scheme_greenish .btn.bldEnabled div.btnContent,
.scheme_greenish .btn.bldlackResConvert div.btnContent {
	padding: 10px 0 10px 17px; /* 17px left for power background-image */
	border: none; /* also allows you to remove the height difference with the other buttons (they have no border on div.content) */
}
.scheme_greenish .btn.disabled.bldlackResConvert { /* color for lack resources convertion */
	background: no-repeat padding-box linear-gradient(90deg, #c5282e 0%, #c5282e 12px, transparent 15px, transparent 100%), #c2e1b6;
}
.scheme_greenish .btn.disabled.bldlackResConvert:hover {
	background: no-repeat padding-box linear-gradient(90deg, #c5282e 0%, #c5282e 12px, transparent 15px, transparent 100%), #c2e1b6;
}
.scheme_greenish .btn:not(.disabled).bldlackResConvert {
	background: no-repeat padding-box linear-gradient(90deg, #c5282e 0%, #c5282e 12px, transparent 15px, transparent 100%), #e4f5dd;
}
.scheme_greenish .btn:not(.disabled).bldlackResConvert:hover {
	background: no-repeat padding-box linear-gradient(90deg, #c5282e 0%, #c5282e 12px, transparent 15px, transparent 100%), #a7e090;
}
.scheme_greenish .btn.disabled.bldEnabled {
	background: no-repeat padding-box linear-gradient(90deg, #1b8539 0%, #1b8539 12px, transparent 15px, transparent 100%), #c2e1b6;
}
.scheme_greenish .btn.disabled.bldEnabled:hover {
	background: no-repeat padding-box linear-gradient(90deg, #1b8539 0%, #1b8539 12px, transparent 15px, transparent 100%), #c2e1b6;
}
.scheme_greenish .btn:not(.disabled).bldEnabled {
	background: no-repeat padding-box linear-gradient(90deg, #1b8539 0%, #1b8539 12px, transparent 15px, transparent 100%), #e4f5dd;
}
.scheme_greenish .btn:not(.disabled).bldEnabled:hover {
	background: no-repeat padding-box linear-gradient(90deg, #1b8539 0%, #1b8539 12px, transparent 15px, transparent 100%), #a7e090;
}
/* *** end of green light for machine on/off *** */
.scheme_greenish .dialog {
	/* default left: 50%; */
	/* default top: 50%; */
	/* default padding: 20px; */
	background-color: #d6f0d1;
	border: 2px solid #226d38;
	border-radius: 7px;
	box-shadow: 0 -1px #69d086, 0 0 1px 2px #184d27;
}
.scheme_greenish .dialog a {
	text-transform: capitalize;
}
.scheme_greenish label i { /* information text in option windows */
    /* default font size = font-size: 90%; */
	color: #606060;
	opacity: 0.8;
}
.scheme_greenish label:hover {
	opacity: 1;/* default opacity: 0.7; */
	color: #a04621;
}
.scheme_greenish label:hover i {
	text-shadow: none;
}
.scheme_greenish select { /* dropdown list on settlement tab and options windows */
	background-color: #2c8d48;
	color: #dfede3;
	border: 1px solid #184d27;
	border-radius: 7px;
	box-shadow: inset 1px 0 2px #69d086, inset 0 1px #226d38, inset 0 -1px #226d38, inset -1px 0 3px #226d38;
	font-size: 14px;
	margin-left: 3px;
}
.scheme_greenish select:hover { /* dropdown list on settlement tab and options windows */
	background-color: #2a8544;
	border-color: #133d1f;
	box-shadow: none;
	cursor: pointer;
}
.scheme_greenish select>option {
	background-color: #ebf8e8;
    color: #202020;
	padding: 2px 10px; /* -2 pixel vertical */
}
.scheme_greenish select > option:disabled {
	color: #606060;
	font-size: 90%;
}
.scheme_greenish #optionsDiv input[type="checkbox"] + label:before {
    content: "\25CB"; /* WHITE CIRCLE */
	font: 16px sans-serif;
	color: #606060;
	text-shadow: 0 0 1px #202020;
}
.scheme_greenish #optionsDiv input[type="checkbox"]:checked + label:before {
	content: "\25CF"; /* BLACK CIRCLE */
	font: 16px sans-serif;
	color: #2c8d48;
	text-shadow: 0 0 1px #202020;
}
.scheme_greenish .dialog input[type="button"] {
	margin-left: 17px;
	margin-bottom: 10px;
}
.scheme_greenish .dialog input#batchSize {
	background-color: #ebf8e8;
	color: #606060;
	border: 2px groove #b5d0b1;
	border-radius: 7px;
	padding: 3px 1px 3px 5px;
    margin-right: 5px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.scheme_greenish textarea#importData,
.scheme_greenish textarea#exportData {
	background-color: #ebf8e8;
	color: #606060;
	border: 2px groove #b5d0b1;
	border-radius: 7px;
	padding: 5px;
	margin-bottom: 3px;
}
.scheme_greenish .dialog input#batchSize:focus,
.scheme_greenish textarea#importData:focus,
.scheme_greenish textarea#exportData:focus {
	background: #a7e090;
	color: #1a2e20;
	border-style: inset;
	box-shadow: inset 1px 1px 3px #404040;
}
.scheme_greenish h1#importFrom,
.scheme_greenish h1#exportTo {
	margin-top: 20px; /* default margin-top: 30px; */
	/* default margin-bottom: 8px; */
}
.scheme_greenish h1#importFromText,
.scheme_greenish h1#exportToText {	
	margin-top: 15px; /* default margin-top: 30px; */
	margin-bottom: 0; /* default margin-bottom: 8px; */
}
.scheme_greenish input:active,
.scheme_greenish select:active,
.scheme_greenish textarea:active {
    border-color: #dfede3 !important;
}

/* *********************************************** */
/* ******************* TOP BAR ******************* */
/* *********************************************** */
.scheme_greenish #topBar {
    height: 28px; /* default height: 26px; */
	top: 0; /* for no shadow on top */
	box-shadow: none; /* default box-shadow: 1px 0px 2px #888; */
	border-bottom: 1px solid #b5d0b1;
	background: #ebf8e8;
	/* default min-width: 1180px; */
}
/* .scheme_greenish #topBar a {
    /* default padding-left: 2px; */
	/* default padding-right: 2px; */
/* } */
.scheme_greenish #topBar a.copyright {
	color: #c5282e;
}
.scheme_greenish #topBar a.copyright:hover {
	color: #a04621;
}
.scheme_greenish #topBar .links-block { /* a link separator: | on topBar links */
	color: #c9ddc6;
}
.scheme_greenish #topBar div,
.scheme_greenish #topBar .toolbarIcon.sorrow div { /* counter of BLS (Black Liquid Sorrow) */
	color: #202020;
}
.scheme_greenish .toolbarIcon.sorrow.max div {
    color: #c5282e !important; /* in default.js !important needed */
}
.scheme_greenish #topBar > div:first-child > span:first-child:after {
    color: #1b8539;
    content: '\00a0\00a0\00a0Theme by Volkeyrn\00a0\00a0\00a0';
    text-decoration: none;
	font-weight: normal;
}
.scheme_greenish #autosaveTooltip {
	color: #1b8539;
}
.scheme_greenish #getTheApp-link { /* Get the app */
	color: #1b4885 !important;
}
.scheme_greenish #getTheApp-link:hover {
	color: #a04621 !important;
}
.scheme_greenish .links-block {
	padding-top: 5px !important;
}
.scheme_greenish #topBar .toolbarIcon.happiness div {
    color: #d56d2e;
}
.scheme_greenish #topBar .toolbarIcon.energy div,
.scheme_greenish .button_tooltip .energyProduction {
    color: #1b8539;
}
.scheme_greenish #topBar .toolbarIcon.energy.warningWinter div {
    color: #d56d2e;
}
.scheme_greenish #topBar .toolbarIcon.energy.warning div,
.scheme_greenish .button_tooltip .energyConsumption {
	color: #c5282e;
}
.scheme_greenish .button_tooltip .energyPenalty {
	color: #c5282e;
}
.scheme_greenish .toolbarIcon .status-indicator-online {
    color: #1b8539;
}
.scheme_greenish .toolbarIcon .status-indicator-offline {
    color: #c5282e;
}
.scheme_greenish #topBar .toolbarIcon.pollutionIcon div {
    color: #606060;
}
.scheme_greenish .toolbarIcon.pollutionIcon {
    background: no-repeat top left url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='14' fill='%23606060' viewBox='0 0 16 16'%3E%3Cpath d='M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z'/%3E%3C/svg%3E");
}
.scheme_greenish .toolbarIcon.happiness {
    background: no-repeat top left url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' fill='%23d56d2e' viewBox='0, 0, 400,365.7142857142857'%3E%3Cg %3E%3Cpath id='path0' d='M23.809 26.069 C 9.506 63.687,-3.876 244.068,5.454 273.466 C 42.343 389.691,311.117 402.522,383.842 291.529 C 400.102 266.714,401.966 245.454,395.450 159.135 C 383.595 2.098,363.666 -27.023,299.032 18.249 C 261.840 44.299,133.578 44.945,105.157 19.224 C 74.567 -8.459,35.693 -5.188,23.809 26.069 M95.086 43.441 C 121.604 72.743,266.428 71.037,311.785 40.888 C 351.877 14.240,351.212 13.344,366.764 114.971 C 393.215 287.824,351.297 345.860,200.000 345.860 C 57.492 345.860,12.935 293.440,31.361 147.462 C 47.965 15.915,56.931 1.281,95.086 43.441 '%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
.scheme_greenish .toolbarIcon.energy {
    background: no-repeat top left url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='13' fill='%231b8539' viewBox='0 0 16 16'%3E%3Cpath d='M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z'/%3E%3C/svg%3E");
}
.scheme_greenish .toolbarIcon.energy.warning {
    background: no-repeat top left url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='13' fill='%23c5282e' viewBox='0 0 16 16'%3E%3Cpath d='M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z'/%3E%3C/svg%3E");
}
.scheme_greenish .toolbarIcon.energy.warningWinter {
    background: no-repeat top left url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='13' fill='%23d56d2e' viewBox='0 0 16 16'%3E%3Cpath d='M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z'/%3E%3C/svg%3E");
}

/* ********************************************** */
/* ******************* FOOTER ******************* */
/* ********************************************** */
.scheme_greenish #footerLinks {
	font-size: 90%;
	bottom: 3px; /* default bottom: 10px; */
	/* default right: 5px; */
	color: #c9ddc6; /* a link separator: | on footer links */
}

/* *********************************************** */
/* ******************* TOOLTIP ******************* */
/* *********************************************** */
/* .scheme_greenish .tooltip-inner {
	/* default width: 280px; */
	/* font-size: 13px; /* for center tooltip except title, effects and flavor */
/* } */
.scheme_greenish #tooltip,
.scheme_greenish .tooltip-block > div {
	/* default padding-left: 3px; */
	padding-bottom: 5px;
	background-color: #d6f0d1;
	color: #233e2b; /* tooltip windows == left column: left text */
	border: 1px solid #1b8539;
	border-radius: 7px;
	/* margin-left: 20px; /* for offset tooltip due to larger buttons .btn.modern */
}
.scheme_greenish .tooltip-block > div { /* tooltip on ? top right column */
	padding: 5px;
}
.scheme_greenish .button_tooltip {
	background-color: transparent;
	backdrop-filter: none; /* default : backdrop-filter: blur(2px); */
}
.scheme_greenish .button_tooltip div { /* tooltip window == left column: right text | center column:highlighting text */
	color: #202020;
}
.scheme_greenish .tooltip-inner .desc { /* Tooltip Window: title text */
    color: #202020;
	/* default font size = font-size: 15px; */
	border-bottom: 1px solid #b5d0b1 !important; /* in core.js !important needed */
	/* default padding-top: 4px; */
	margin-bottom: 5px;
}
.scheme_greenish .tooltip-inner .desc.small {
	font-size: 70%; /* default font-size: 60%; */
	opacity: 1; /* default opacity: 0.8; */
}
.scheme_greenish .tooltip-inner .desc.small.auto-off {
	color: #c5282e;
}
.scheme_greenish .tooltip-inner .desc.small.auto-on {
	color: #1b8539;
}
.scheme_greenish .tooltip-divider { /* border line before effects text */
	/* in core.js text-align: center; !important needed */
	/* in core.js width: 100%; !important needed */
	border-bottom: 1px solid #b5d0b1 !important; /* in core.js !important needed */
	padding-bottom: 2px !important; /* in core.js padding-bottom: 4px; !important needed */
	margin-bottom: 2px !important; /* in core.js margin-bottom: 8px; !important needed */
	color: #1b8539 !important; /* text centered: Tooltip name */
}
.scheme_greenish .tooltip-divider.resEffectsTxt { /* text centered: res.effects */
	font-size: 14px;
	color: #606060 !important;
	padding-bottom: 0 !important; /* in core.js padding-bottom: 4px; !important needed */
	margin-bottom: 0 !important; /* in core.js margin-bottom: 8px; !important needed */
	margin-top: 4px;
}
.scheme_greenish .effectName { /* Tooltip Window: effects text */
	color: #1b4885 !important;
	/* default font size = font-size: 14px; */
}
.scheme_greenish .rawRes { /* Tooltip Window == text for all missing resources for primary resource */
    color: #606060;
	font-style: italic;
	padding-left: 12px;
}
.scheme_greenish .button_tooltip .noRes,
.scheme_greenish .limited { /* on ressource limited or not attainable */
	color: #c5282e;
}
.scheme_greenish #tooltip .flavor { /* Tooltip Window: last bottom text on center column tooltip window */
    color: #1b8539;
	font-size: 13px !important; /* in core.js !important needed */
	padding-right: 7px;
}
.scheme_greenish .button_tooltip.login-popup input[type="email"],
.scheme_greenish .button_tooltip.login-popup input[type="password"] {
	background-color: #ebf8e8;
	color: #606060;
	border: 2px groove #b5d0b1;
    padding: 3px 1px 3px 5px;
    margin: 0 5px;
	border-radius: 5px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.scheme_greenish .button_tooltip.login-popup input[type="email"]:focus,
.scheme_greenish .button_tooltip.login-popup input[type="password"]:focus {
	background: #a7e090;
	color: #1a2e20;
	border-style: inset;
	box-shadow: inset 1px 1px 3px #404040;
}

/* ***************************************************** */
/* ******************* CENTER COLUMN ******************* */
/* ***************************************************** */
/* .scheme_greenish #midColumn { */
	/* default margin-top: 30px; */
	/* default width: 630px */
/* } */
.scheme_greenish .tabInner {
    border: none; /* default border: 1px solid gray; */
	padding: 5px 15px 15px 15px;/* default padding: 15px; */
	/* default margin-bottom: 20px; */
}
.scheme_greenish .tabInner.Workshop {
	padding-bottom: 70px; /* to view entire dropdownlink of last button */ /* default padding: 15px; */
}
.scheme_greenish .tabInner.Bonfire,
.scheme_greenish .tabInner.Trade,
.scheme_greenish .tabInner.Time {
	padding-bottom: 30px; /* default padding: 15px; */
}
.scheme_greenish .tabsContainer {
	padding-bottom: 3px; /* default padding-bottom: 15px; */
	; /* default padding-top: 2px; */
	padding-left: 5px;
	; /* default top: 5px; */
	border-top: none;
}
.scheme_greenish .tabsContainer a {
	font-size: 16px;
}
.scheme_greenish .tabsContainer a.activeTab {
	color: #a04621;
	font-weight: bold;
}
.scheme_greenish .tabsContainer span:not(.genericWarning), /* separator | for tab */
.scheme_greenish .expandAllBar { /* separator | for expandAllBar */
	color: #c9ddc6;
}
.scheme_greenish .tabInner.Workshop span:first-child { /* for text: Craft effectiveness: +xxx% */
	color: #d56d2e;
}
.scheme_greenish .expandAllBar:first-child span { /* for text: Trade effectiveness +xxx% */
	color: #2c8d48;
}
.scheme_greenish .expandAllBar:not(:first-child) {
	font-size: smaller; /* smaller font for expand all and collapse all links */
}
.scheme_greenish span.genericWarning { /* number of kittens free or engineering free on tab */
	color: #c5282e;
}
.scheme_greenish .tab.traitLeaderBonus::before {
	content: "\2605\00a0"; /* BLACK STAR */
	color: #1b4885;
}
.scheme_greenish .tab.engineer::before { /* artisan bonus */
	content: "\2692\00a0"; /* HAMMER AND PICK */
}
.scheme_greenish .tab.metallurgist::before {
	content: "\267B\00a0"; /* BLACK UNIVERSAL RECYCLING SYMBOL */
}
.scheme_greenish .tab.chemist::before {
	content: "\2623\00a0"; /* BIOHAZARD SIGN */
}
.scheme_greenish .tab.merchant::before {
	content: "\2696\00a0"; /* SCALES */
}
.scheme_greenish .tab.manager::before { /* hunting bonus */
	content: "\27B4\00a0"; /* BLACK-FEATHERED SOUTH EAST ARROW */
}
.scheme_greenish .tab.scientist::before {
	content: "\269B\00a0"; /* ATOM SYMBOL */
}
.scheme_greenish .tab.wise::before {
	content: "\2600\00a0"; /* BLACK SUN WITH RAYS */
}
.scheme_greenish div.bldTopContainer a.activeTab {
	color: #a04621;
	font-weight: bold;
	opacity: 0.75; /* default opacity 0.7 on not hover */
}
.scheme_greenish .bldGroupContainer { /* container for all buttons on center column */
    padding-top: 10px; /* default padding 15px */
	margin-top: 5px; /* default margin 10px */
	border: 1px solid #b5d0b1;
	/* background-color: #ebf8e8; */
	/* background-color: #e4f5dd; */
	background-color: rgba(128, 128, 128, 0.2);
	border-radius: 7px;
}
.scheme_greenish input[type='button'] {
	background-color: #2c8d48 !important; /* !important in default.css */
	border: 1px solid #184d27 !important;  /* !important in default.css */
	border-radius: 7px !important; /* !important in default.css */
	box-shadow: inset 0 1px #69d086, inset 0 1px 1px #226d38, inset 1px 0 #226d38, inset -1px 0 #226d38 !important; /* !important in default.css */
	color: #dfede3;
	padding: 5px 20px;
	margin-left: 10px;
	font-size: 15px;
}
.scheme_greenish input[type='button']:hover {
	background-color: #2a8544 !important; /* !important in default.css */
	border-color: #133d1f !important;
	box-shadow: none !important; /* !important in default.css */
	cursor: pointer !important; /* !important in default.css */
}
/* button observer different from other input buttons */
/* .scheme_greenish input[type='button']#observeBtn {	 */
	/* default margin-top: 15px; */
	/* default height: 30px; */
/* } */
/* .scheme_greenish input[type='button']#observeBtn:hover { */
/* } */
/* .scheme_greenish .btn .btnContent a { */
    /* default max-width: 50px; */
    /* default overflow-x: hidden; */
    /* default text-overflow: ellipsis; */
/* } */
.scheme_greenish .btn.modern a {
	font-weight: normal;
	line-height: 16px;
	background-color: transparent;
	padding: 10px 4px 10px 4px !important; /* default:  padding: 10px 6px 10px 6px !important; */
	text-shadow: none;
	border-left: 1px solid transparent; /* default border-left: 1px solid #888; */
	/* default margin: -10px 0; */
	/* default min-width: 20px; */
	color: #602a14;
}
.scheme_greenish .btn.modern a:hover {
	color: #a04621;
}
.scheme_greenish .btn.modern:not(.disabled) a {
	border-left: 1px solid #b5d0b1;
}
.scheme_greenish .btn.modern.disabled a {
	border-left: 1px solid #9cc096;
}
.scheme_greenish .btn.modern:not(.disabled) a:hover {
	background-color: rgba(235, 248, 232, 0.3);
}
.scheme_greenish .btn.modern.disabled a:hover {
	background-color: rgba(235, 248, 232, 0.3);
}
.scheme_greenish .btn.modern:not(.disabled):active,
.scheme_greenish input[type='button']:active,
.scheme_greenish input[type='button']#observeBtn:active {
    border-color: #dfede3 !important;
}
.scheme_greenish .linkContent { /* dropdown list on button */
    margin-top: 26px !important; /* for correct vertical align dropdown list */
    width: auto !important;
    border-radius: 0 11px 11px 11px;
	border: solid 1px transparent;
	background: #a7e090; /* color pick from button not disabled and hover */
	box-shadow: 0 -1px 1px #a7e090, 1px 1px #b5d0b1, -1px 0 #b5d0b1;
}
.scheme_greenish .linkContent a {
    width: 36px !important;
    margin-top: 0 !important;
	margin-bottom: 0 !important;
	border-left: none !important; /* default border-left: 1px solid #888; */
}
.scheme_greenish .btn.modern.disabled .linkContent { /* dropdown list on button disabled */
	background: #c2e1b6;  /* color pick from button disabled and hover */
	box-shadow: 0 -1px 1px #c2e1b6, 1px 1px #b5d0b1, -1px 0 #b5d0b1;
}
.scheme_greenish .btn.modern.disabled .linkContent a {
	border-left: none !important;
}
.scheme_greenish .linkContent a:first-child,
.scheme_greenish .linkContent a:first-child:hover {
	border-radius: 0 11px 0 0;
}
.scheme_greenish .linkContent a:last-child,
.scheme_greenish .linkContent a:last-child:hover {
	border-radius: 0 0 11px 11px;
}
/* Apply the right border radius of the button to the rightmost link */
.scheme_greenish .btn.modern span.btnTitle + a,
.scheme_greenish .btn.modern:not(.hasSellLink) a.off1Link, /* link minus on buildings buttons */
.scheme_greenish .btn.modern:not(.hasSellLink) a.unassignLink { /* link minus on kittens jobs buttons */
	/* buttons border-radius: 11px; */
	border-radius: 0 11px 11px 0;
}
.scheme_greenish .btn.modern .btnContent a.rightestLink { /* for Combust TC button in Time tab and Hold Festival in Settlement tab */
	border-radius: 0 11px 11px 0;
}
/* .scheme_greenish .btn .btnContent a.small { */
    /* default font-size: 0.7em; */
    /* default line-height: 16px; */
/* } */
.scheme_greenish .panelContainer {
	/* default margin-top: 8px; */
	min-height: 38px; /* default min-height: 30px; */
	background-color: rgba(128, 128, 128, 0.2);
	border: 1px solid #b5d0b1;
	border-radius: 7px;
}
.scheme_greenish .tabInner.Trade {
	padding: 2px 15px 10px 15px;
}
.scheme_greenish .tabInner.Trade .panelContainer {
	margin-top: 4px; /* default margin-top: 8px; */
}
.scheme_greenish .tabInner.Trade .btn {
	margin-bottom: 3px; /* default margin-bottom: 10px; */
}
.scheme_greenish .tabInner.Trade div[style^='margin-bottom'] {
	margin-bottom: 5px !important; /* default margin-bottom: 15px; */
}
.scheme_greenish .tabInner.Stats table.statTable {
	margin: 5px 10px;
	padding: 10px;
	border-radius: 7px;
	color: #404040;
	background-color: rgba(128, 128, 128, 0.2);
	border: 1px solid #b5d0b1;
}
.scheme_greenish .tabInner.Stats table.statTable:first-of-type tr:first-child td:last-child { /* select total kittens value */
	color: #1b8539;
}
.scheme_greenish .tabInner.Stats table.statTable td:last-child { /* select value column */
    color: #000000;
}
.scheme_greenish .tabInner.Stats table.statTable:first-of-type tr:first-child + tr > td:last-child { /* select kittens dead value */
    color: #c5282e;
}
.scheme_greenish .tabInner.Stats table.statTable:last-of-type tr:last-child td:last-child { /* select time played value */
	color: #1b4885;
}
.scheme_greenish .panelContainer div.title {
	padding: 4px 4px 4px 20px; /* default padding: 4px; */ /* default padding-left: 10px; */
	margin-bottom: 3px;
	background: linear-gradient(0deg, #226d38, #2c8d48);
	color: #dfede3;
	font-size: 16px !important;
	border: 1px solid #184d27;
	border-radius: 7px 7px 0 0;
	box-shadow: inset 0 1px #69d086, inset 0 1px 1px #226d38, inset 1px 0 #226d38, inset -1px 0 #226d38, 0 1px 1px rgba(32, 32, 32, 0.5);
}
.scheme_greenish .tabInner.Trade .panelContainer div.title {
	padding: 0 4px 3px 20px;
	margin-bottom: 0;
	font-size: 15px !important;
}
.scheme_greenish .panelContainer .toggle {
	font-size: 16px;
	margin: 5px 5px 0 0; /* default margin: 4px; */
	padding-left: 5px; /* default padding-left 6px */
	padding-right: 5px; /* default padding-right 6px */
	border: none;
	background-color: transparent;
	border-radius: 5px;
	color: #d0d0d0;
}
.scheme_greenish .panelContainer .toggle:hover {
	background: rgba(223, 237, 227, 0.2);
	border-radius: 5px;
	color: #f0f0f0;
}
.scheme_greenish .container {
	padding: 5px; /* default padding: 10px; */
}
.scheme_greenish .container.trade-race {
	padding: 3px 5px 1px 5px; /* default padding: 10px; */
}
.scheme_greenish .container.trade-race .crypto-trade .btn.modern {
	max-width: 127px; /* (button content width - (2 x button border width) - (1 x button margin-right)) / 2 => (266 - 2 -10)/2 = 127 */
}
.scheme_greenish .container div.currentGovernment { /* for padding-bottom too height */
	padding-bottom: 3px !important;
}
/* .scheme_greenish .trade-race > .left { */
    /* default width: 50%; */
/* } */
/* .scheme_greenish .trade-race > .right { */
    /* default width: 50%; */
/* } */
.scheme_greenish .trade-race .buys {
	color: #c5282e;
	font-size: smaller;
}
.scheme_greenish .trade-race .sells {
	color: #1b8539;
	font-size: smaller;
}
.scheme_greenish .trade-race .tradeAmount {
	color: #606060;
	font-size: smaller;
}
.scheme_greenish .attitude { /* text for attitude races int trade tab */
	/* default font size = font-size: 90%; */
	font-size: 100%;
	color: #a7e090 !important;
	text-shadow: none !important;
	text-transform: capitalize;
}
.scheme_greenish .attitude:before {
	/* default content: "("; */
	content: "\00a0\21C4\00a0"; /* default content: "("; */ /* RIGHTWARDS ARROW OVER LEFTWARDS ARROW */
	color: #d0d0d0;
	font-weight: bold;
}
.scheme_greenish .attitude:after {
	/* default content: ")"; */
	content: ""; /* default content: ")"; */
}
.scheme_greenish .container.trade-race a[title='Pinned'] {
	color: #1b8539;
	font-weight: bold;
}
.scheme_greenish .container.trade-race a[title='Pinned']:hover {
	color: #1b8539;
}
/* .scheme_greenish .btn.explore { */
    /* default margin-right: 9px; */
/* } */
.scheme_greenish .panelContainer div.censusFilters {
	margin-bottom: 2px; /* for add a margin under the 2 lists (select) in the settlement tab */
}
/* ---------- Village ---------- */
/* container 'Census' -> list of kittens in settlement tab */
.scheme_greenish .census-block {
    padding: 5px 10px; /* default padding: 5px; */
    /* default margin-bottom: 5px; */
    background: #c2e1b6;
	border: 1px solid #b5d0b1;
	border-radius: 11px;
 	box-shadow: none;
}
.scheme_greenish .census-block:hover {
	box-shadow: 0 0 1px 1px #69a061;
}
.scheme_greenish .census-block.simLeader {
	background-color: #a7e090;
}
.scheme_greenish .census-block.simLeader a.leaderHref {
	color: #1b4885;
}
.scheme_greenish .census-block .info { /* info of kitten */
	font-size: 0.9em;
	color: #505050;
}
.scheme_greenish .census-block .skill { /* jobs unasigned */
	color: #606060;
}
.scheme_greenish .census-block .skill:first-of-type { /* job assigned */
	color: #1b4885;
	font-weight: normal !important;
}
.scheme_greenish .census-block.simLeader .info span.name {  /* Leader name */
	font-size: 1.2em;
}
.scheme_greenish .census-block.simLeader .skill:first-of-type { /* Leader job assigned */
	font-size: 1em; /* default font-size: 0.8em; */
}
.scheme_greenish .container .name.color-none { /* name of kitten */
	color: #303030;
}
.scheme_greenish .container .name.color-brown {
	color: #824b23;
}
.scheme_greenish .container .name.color-cream {
	color: #ad884a;
	text-shadow: 0 0 1px #000000;
}
.scheme_greenish .container .name.color-black {
	color: #000000;
}
.scheme_greenish .container .name.color-fawn {
	color: #713306;
}
.scheme_greenish .container .name.color-white {
	color: #ffffff;
	text-shadow: 0 0 2px #000000;
}
.scheme_greenish .container .name.variety-none {
	border: 1px solid transparent;
}
.scheme_greenish .container .name.variety-dual { /* bicolore */
	border: 1px solid grey;
}
.scheme_greenish .container .name.variety-tabby { /* tigré  ou rayé */
	border: 1px dashed grey;
}
.scheme_greenish .container .name.variety-torbie { /* marbré strié */
	border: 1px dashed grey;
	border-left: dotted;
	border-right: dotted;
}
.scheme_greenish .container .name.variety-calico { /* tricolore */
	border: 1px solid grey;
	border-top-color: saddlebrown;
	border-bottom-color: peru;
}
.scheme_greenish .container .name.variety-spots { /* tacheté */
	border: 1px dotted grey;
}
.scheme_greenish .btn.modern a.bld-on,
.scheme_greenish .btn.modern a.auto-on,
.scheme_greenish .btn.modern a.fugit-on {
	color: #1b8539;
}
.scheme_greenish .btn.modern:not(.disabled):hover a.bld-on,
.scheme_greenish .btn.modern:not(.disabled):hover a.auto-on,
.scheme_greenish .btn.modern:not(.disabled):hover a.fugit-on {
	color: #1b8539;
}
.scheme_greenish .btn.modern a.bld-off,
.scheme_greenish .btn.modern a.auto-off,
.scheme_greenish .btn.modern a.fugit-off {
	color: #c5282e;
}
.scheme_greenish .btn.modern:not(.disabled):hover a.bld-off,
.scheme_greenish .btn.modern:not(.disabled):hover a.auto-off,
.scheme_greenish .btn.modern:not(.disabled):hover a.fugit-off {
	color: #c5282e;
}
.scheme_greenish .btn.modern.craftOn span.btnTitle { /* all buttons with engineer(s) in workshop tab */
	color: #1b4885;
}
.scheme_greenish td.craftStuffPanel > span { /* title of craft stuff panel */
	color: #202020;
	font-size: 15px;
	padding-left: 10px;
}
.scheme_greenish td.craftStuffPanel > table { /* craft stuff panel */
    margin-top: 2px;
    padding: 10px 20px; /* default padding-top: 20px; */
    color: #233e2b;
	background-color: #d6f0d1;
	border: 1px solid #b5d0b1;
	border-radius: 15px;
	box-shadow: none;
}

/* ******************************************************** */
/* ******************* ACHIEVEMENTS TAB ******************* */
/* ******************************************************** */
.scheme_greenish .achievement-header {
	color: #1b8539;
	text-shadow: 0 0 3px#dfede3;
	font-size: 18px;
	margin-bottom: 3px;
	padding-left: 30px;
}
.scheme_greenish .achievement {
    padding: 1px 1px 1px 10px; /* default padding: 5px; */
	/* default padding-left: 10px; */
	font-size: 15px;
	margin-bottom: 5px; /* default margin-bottom: 10px; */
	height: 22px;
	background-color: rgba(160, 160, 160, 0.1);
	color: #233e2b;
	letter-spacing: 1px;
	border: solid 1px #b5d0b1;
	border-radius: 7px;
}
.scheme_greenish .achievement:hover {
	background-color: rgba(240, 240, 240, 0.1);
}
.scheme_greenish .achievement:not(.unethical).unlocked:hover {
	color: #1b8539;
	border-color: #1b8539;
}
.scheme_greenish .achievement.unethical {
	color: #75181b;
}
.scheme_greenish .achievement.unethical:hover {
	color: #c5282e;
	border-color: #c5282e;
}
.scheme_greenish .achievement:not(.unlocked) {
	color: #909090;
}
.scheme_greenish .achievement:not(.unlocked):hover {
	color: #606060;
	border-color: #606060;
}
.scheme_greenish .achievement:after {
	letter-spacing: normal;
	margin-top: 2px;
	font-size: 90%;
	color: #202020;
	text-shadow: none;
}
@media screen {
	.scheme_greenish .achievement[title]:hover::after{
	  opacity: 0.75; /* default opacity: 0.6; */
	}
  }
.scheme_greenish .achievement-header .star {
	/* default font size = font-size: 18px; */
	color: #d56d2e; /* orange or dominant color of the theme */
}
.scheme_greenish .achievement .star {
	/* default font size = font-size: 18px; */
	color: #606060;
	text-shadow: none;
}
.scheme_greenish .achievement.unlocked .star {
	color: #d56d2e; /* orange or dominant color of the theme */
}

/* **************************************************** */
/* ******************* RIGHT COLUMN ******************* */
/* **************************************************** */
.scheme_greenish #rightColumn {
    /* default padding-left: 8px; */
	width: calc(50% - 355px);
	max-width: 440px; /* default max-width: 400px; */
    /* default min-width: 250px; */
	top: 30px; /* default top: 20px; */
	/* default margin-top: 4px */
}
.scheme_greenish #toggleCenter,
.scheme_greenish span.toggleCenter {
	color: #602a14;
	opacity: 0.6; /* default opacity: 0.2; */
	cursor: pointer;
}
.scheme_greenish span.toggleCenter {
	opacity: 1; /* for have #toggleCenter same color */
}
.scheme_greenish #toggleCenter:hover,
.scheme_greenish div#toggleCenter:hover > span.toggleCenter {
	color: #a04621;
	opacity: 1.0;
}
.scheme_greenish #calendarDiv {
    color: #604b38;
	padding-left: 5px;
    margin-top: 5px;
}
.scheme_greenish #calendarSign {
   font-size: 120%;
}
.scheme_greenish #calendarSign:hover {
   cursor: default;
}
.scheme_greenish .right-tab-header { /* Log | Chat link on right column */
	/* default margin-top: 10px; */
	font-size: 80%;
 }
.scheme_greenish .right-tab-header a {
	margin-right: -5px;
	/* default padding: 5px; */
    /* default padding-left: 30px; */
    /* default padding-right: 30px; */
}
.scheme_greenish .right-tab-header a.active {
	border-top: 1px solid #b5d0b1; /* default border-top: 1px solid rgba(128, 128, 128, 0.4); */
	color: #a04621;
	font-weight: bold;
}
.scheme_greenish div#observeButton {
	margin-top: 5px; /* default margin-top: 15px */
	height: 35px; /* default height: 30px; */
	margin-bottom: 3px;
}
.scheme_greenish #rightTabChat {
	margin-top: 10px;
}
.scheme_greenish div.console-intro { /* Text on right column: "You are a kitten in a catnip forest." */
	color: #d56d2e;
	border-top: 1px solid #b5d0b1 !important;
}
.scheme_greenish #clearLogHref { /* Link in right column: Clear log */
	font-size: 85%;
}
.scheme_greenish #logFiltersBlock > a { /* Link in right column: [+]Log Filters */
	font-size: 85%;
	margin-left: 5px;
}
.scheme_greenish #pauseBtn { /* Link in right column: pawse */
	margin-left: 5px;
}
.scheme_greenish #gameLog {
	/* default overflow-y: auto !important; */
	margin: 15px 10px 5px 10px;
	padding: 5px 10px 10px 3px !important;
}
.scheme_greenish #gameLog span.msg:not(.type_date)  {
	margin-left: 1.2em;
	list-style-type: disc;
	padding-left: 0.3em;
}
.scheme_greenish #gameLog span.msg.noBullet {
	margin-left: 2.3em !important;
	list-style-type: '\25B8' !important; /* 	BLACK RIGHT-POINTING SMALL TRIANGLE	*/ /* !important in default.css */
}
.scheme_greenish .msg {
	font-size: 95%;
	font-weight: normal;
	color: #1a2e20;
}
.scheme_greenish .msg.type_notice {
	color: #1b4885; /* default color: #01A9DB; */
}
.scheme_greenish .msg.type_important {
    color: #d56d2e; /* default color: coral; */
}
.scheme_greenish .msg.type_alert {
    color: #c5282e; /* default color: red; */
}
.scheme_greenish .msg.type_urgent {
	color: #551b85; /* default color: blueviolet; */
	font-size: 1.1em;
}
.scheme_greenish .msg.type_date {
	/* default margin-top: 15px; */
	color: #2c8d48;
	/* default font-size: 90%; */
	text-transform: none;
	border-bottom: 1px solid #b5d0b1;
	padding-left: 5px;
}

/* *************************************************** */
/* ******************* LEFT COLUMN ******************* */
/* *************************************************** */
.scheme_greenish #leftColumn {
	margin-top: 10px; /* default margin-top: 4px; */
	/* default width: 25%; */
    /* default min-width: 300px; */
	/* default max-width: 400px; */
	padding-right: 10px; /* default padding right: 20px */
}
/* .scheme_greenish a.link { */
    /* default padding-right: 10px; */
/* } */
.scheme_greenish .res-toolbar.right {
	padding-right: 20px;
	/* default margin-right:-18px; */
}
.scheme_greenish a.link.collapse {
	opacity: 0.5; /* default opacity: 0.2; */
}
.scheme_greenish a.link.collapse:hover {
	opacity: 1;/* default opacity: 0.9; */
	color: #a04621;
}
.scheme_greenish #leftColumn .res-toolbar a.link.toggled {
    color: #1b8539;
}
.scheme_greenish div.tooltip-block:hover {
	cursor: default;
}
.scheme_greenish div.tooltip-block > span {
	color: #602a14;
}
.scheme_greenish div.tooltip-block:hover > span {
	font-weight: bold;
	color: #a04621;
}
.scheme_greenish .res-table {
	max-width: 352px;/* default max-width: 340px; */
    border-collapse: collapse; /* gain of 3 pixel by border -> no margin bottom after */
	margin-left: 2px; /* without 0px margin left for all ressources */
 }
/* .scheme_greenish .res-toolbar.left { */
    /* default padding-left: 5px; */
/* } */
/* .scheme_greenish .res-cell { */
	/* default padding-left: 2px; */
    /* default padding-right: 2px; */
/* } */
.scheme_greenish .craftTable {
	margin-bottom: 60px !important; /* for correct margin bottom due of the line above with border-collapse: collapse on .res-Table ! */
	/* default padding-bottom: 50px; */
 }
.scheme_greenish .res-cell.craft-link {
	color: #602a14;
	/* default width: 20px; */
	/* default max-width: 60px; */
 }
/* .scheme_greenish .res-cell.craft-link .plusPrefix { */
    /* default font-size: 80%; */
/* } */
.scheme_greenish .res-cell.craft-link.all { /* column craft all */
	font-size: 95%; /* default font-size: 85%; */
	opacity: 1; /* default opacity: 0.4; */
	color: #606060;
}
.scheme_greenish .res-cell.craft-link:hover,
.scheme_greenish .res-cell.craft-link.all:hover { /* craft table left column */
    color: #a04621;
	text-decoration: none;
	text-shadow: none;
	font-weight: bold;
	opacity: 1;
}
.scheme_greenish .res-row {
	padding-bottom: 2px; /* default padding-bottom: 4px; */
}
.scheme_greenish .res-row:hover {
	background:  rgba(235, 248, 232, 0.6);
	cursor: default;
}
.scheme_greenish .highlited { /* higlighting ressources when hover button on center windows */
	background:  rgba(235, 248, 232, 0.6);
}
.scheme_greenish .res-toolbar {
	white-space: nowrap;
}
/* .scheme_greenish div.res-cell.resource-name {  */
	/* default width: 60px; */
	/* default max-width: 85px; */
/* } */
.scheme_greenish .maxRes,
.scheme_greenish .resAmount,
.scheme_greenish .resPerTick,
.scheme_greenish .res-cell.resource-value,
.scheme_greenish .craftTable {
	font-family: 'Source Sans Pro', sans-serif;
}
.scheme_greenish .resource_faith .resource-name,
.scheme_greenish .resource_kittens .resource-name,
.scheme_greenish .resource_steel .resource-name,
.scheme_greenish .resource_gear .resource-name,
.scheme_greenish .resource_alloy .resource-name,
.scheme_greenish .resource_megalith .resource-name {
	color: #606060 !important;
}
.scheme_greenish .resource_paragon .resource-name {
	color: #6141cd !important;
}
.scheme_greenish .resource_burnedParagon .resource-name {
	color: #4b2dad !important;
}
.scheme_greenish .resource_antimatter .resource-name,
.scheme_greenish .resource_relic .resource-name,
.scheme_greenish .resource_void .resource-name {
	color: #7557e8 !important;
}
.scheme_greenish .resource_uranium .resource-name {
	color: #3b7a3b !important;
}
.scheme_greenish .resource_unobtainium .resource-name {
	color: #d5000f !important;
}
.scheme_greenish .resource_eludium .resource-name {
	color: #b003ff !important;
}
.scheme_greenish .resource_scaffold .resource-name {
	color: #ff5f25 !important;
}
.scheme_greenish .resource_timeCrystal .resource-name {
	color: #11ad52 !important;
}
.scheme_greenish .resource_manpower .resource-name {
	color: #bd9201 !important;
}
.scheme_greenish .resource_science .resource-name,
.scheme_greenish .resource_manuscript .resource-name,
.scheme_greenish .resource_compedium .resource-name,
.scheme_greenish .resource_blueprint .resource-name {
	color: #0192bd !important;
}
.scheme_greenish .resource_furs .resource-name,
.scheme_greenish .resource_ivory .resource-name,
.scheme_greenish .resource_spice .resource-name {
	color: #ff5010 !important;
}
.scheme_greenish .resource_unicorns .resource-name,
.scheme_greenish .resource_alicorn .resource-name,
.scheme_greenish .resource_tears .resource-name,
.scheme_greenish .resource_karma .resource-name {
	color: #df9000 !important;
	text-shadow: none !important;
}
.scheme_greenish .resource_blackcoin .resource-name {
	color: #ffd600;
}
.scheme_greenish .maxRes {
	color: #606060;
}
.scheme_greenish .resAmount {
    color: #202020;
}
.scheme_greenish .resLimitWarn {
	color: #d56d2e;
	opacity: 1; /* default opacity: 0.75 */
	font-style: italic;
}
.scheme_greenish .resLimitNotice {
	color: #1b8539;
}
.scheme_greenish .resPerTick {
	cursor: default;
	color: #404040;
}
.scheme_greenish .res-row.resLeaderBonus .resPerTick {
	color: #1b4885;
}
.scheme_greenish .res-row.craftEngineer .res-cell.resource-value {
	color: #1b4885;
}
.scheme_greenish div#advisorsContainer {
	color: #c5282e;
	/* default padding-top: 10px; */
}
.scheme_greenish .res-cell.resource-value {
	/* default width: 75px; */
	/* default max-width: 90px; */
	color: #202020;
}
.scheme_greenish #fastHuntContainerCount { /* Text left column: "xx times" from Send hunters */
	color: #606060;
	text-shadow: none !important;
}
.scheme_greenish .res-cell.positive-weather { /* to change the color for bonus cell according to the season */
	color: #1b8539;
	font-size: 90%;
}
.scheme_greenish .res-cell.negative-weather { /* to change the color for penalty cell according to the season */
	color: #c5282e;
	font-size: 90%;
}

/* ************************************************* */
/* ******************* SCROLLBAR ******************* */
/* ************************************************* */
.scheme_greenish ::-webkit-scrollbar-track,
.scheme_greenish .dialog::-webkit-scrollbar-track,
.scheme_greenish textarea#importData::-webkit-scrollbar-track,
.scheme_greenish textarea#exportData::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: transparent;
}
.scheme_greenish ::-webkit-scrollbar {
	width: 8px;
	border-radius: 0;
	background-color: transparent;
}
.scheme_greenish .dialog::-webkit-scrollbar,
.scheme_greenish textarea#importData::-webkit-scrollbar,
.scheme_greenish textarea#exportData::-webkit-scrollbar {
	width: 10px;
	border-radius: 0;
	background-color: transparent;
}
.scheme_greenish ::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: #c0e8b0;
}
.scheme_greenish .dialog::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(128, 128, 128, 0.1);
}
.scheme_greenish textarea#importData::-webkit-scrollbar-thumb,
.scheme_greenish textarea#exportData::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(64, 64, 64, 0.2);
}
.scheme_greenish #gameLog::-webkit-scrollbar {
	width: 6px;
}
.scheme_greenish #gameLog::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: rgba(128, 128, 128, 0.1);
}
/* Only FireFox */
.scheme_greenish #leftColumn,
.scheme_greenish #rightColumn,
.scheme_greenish #midColumn,
.scheme_greenish .dialog,
.scheme_greenish textarea#importData,
.scheme_greenish textarea#exportData,
.scheme_greenish #gameLog {
	scrollbar-width: thin;
}
.scheme_greenish #leftColumn,
.scheme_greenish #rightColumn,
.scheme_greenish #midColumn,
.scheme_greenish .dialog {
	scrollbar-color: #c0e8b0 transparent !important;
}
.scheme_greenish textarea#importData,
.scheme_greenish textarea#exportData {
	scrollbar-color: rgba(64, 64, 64, 0.2) transparent !important;
}
.scheme_greenish select {
   scrollbar-width: auto !important;
}
