/* ******************************************************** */
/* ***			School 1.1.1 Theme © Volkeyrn           *** */
/* ******************************************************** */

@import url(https://fonts.googleapis.com/css?family=Delius+Swash+Caps&display=swap);

/**********************************************/
/******************** GAME ********************/
/**********************************************/
body.scheme_school,
.scheme_school div.dialog {
	background-color: #292728;
}
body.scheme_school.with_background_image,
.scheme_school div.dialog {
	background-image: url('img/theme-school.jpg'); /* source : https://pngtree.com/freebackground/taobao-small-appliances-poster-tmall-kitchen-supplies-banner_1061754.html */
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center;
}
.scheme_school  #gamePageContainer,
.scheme_school select,
.scheme_school .btn,
.scheme_school .modern,
.scheme_school input[type='button'] {
	font-family: 'Delius Swash Caps', cursive;
}
.scheme_school .btn {
	color: gray;
	margin-bottom: 7px; /* default 10px */
	max-height: 36px;
	background-color: transparent;
	border: solid 1px transparent;
	border-radius: 5px;
}
.scheme_school .btn.modern.disabled {
	background-color: rgba(85, 85, 85, 0.4); /* color #555555 */
	border: solid 1px rgba(85, 85, 85, 0.1); /* color #555555 */
}
.scheme_school .btn.modern.disabled:hover {
	background-color: rgba(85, 85, 85, 0.4); /* color #555555 */
	border: solid 1px rgba(85, 85, 85, 0.7); /* color #555555 */
}
.scheme_school .btn.modern.disabled span.btnTitle { /* to change only the properties of the button name for buttons disabled */
	color: #81848C;
}
.scheme_school .btn.modern.disabled.limited span.btnTitle { /* to change only the properties of the button name for buttons limited */
	color: #973B47;
}
.scheme_school .btn.modern:not(.disabled) {
	background-color: rgba(107, 112, 122, 0.5); /* color #6B707A */
	border: solid 1px rgba(107, 112, 122, 0.3); /* color #6B707A */
    cursor: pointer;
}
.scheme_school .btn.modern:not(.disabled):hover {
	background-color: rgba(107, 112, 122, 0.6); /* color #6B707A */
	border: solid 1px rgba(209, 214, 223, 0.7); /* color #D1D6DF */
	cursor: pointer;
	box-shadow: 2px 2px 3px #000000;
}
.scheme_school .btn.modern:not(.disabled) span.btnTitle { /* to change only the properties of the button name for buttons enabled */
	color: #ABAEB7;
}
.scheme_school .btn.modern:not(.disabled):hover span.btnTitle {
	color: #C2C6CF;
	text-shadow: 1px 1px 1px #191718;
}
.scheme_school a {
	color: #6B707A;
}
.scheme_school a,
.scheme_school .craft-link {
    text-decoration: none;
}
.scheme_school a:hover {
	color: #B5BAC4;
	opacity: 1.0;
}
.scheme_school div {
	color: #ABAEB7;
}
.scheme_school .disabled div { /* color text for disabled */
	color: #81848C;
}
.scheme_school h1 {
    font-size: 16px;
    color: #A56B5B;
	text-shadow: 1px 1px 1px #000000;
	text-transform: capitalize;
}
.scheme_school h1:first-child {
    margin-top: 10px; /* default margin-top: 30px */
}
.scheme_school .modern .btnContent {
    padding: 10px 0 10px 1px; /* 1px left for buttons without power background-image */
}
/*** green and red light for machine on/off ***/
.scheme_school .btn.bldEnabled div.btnContent,
.scheme_school .btn.bldlackResConvert div.btnContent {
	padding: 10px 0 10px 15px; /* 15px left for power background-image (linear-gradient) */
	border: none; /* also allows you to remove the height difference with the other buttons (they have no border on div.content) */
}
.scheme_school .btn.disabled.bldlackResConvert { /* color #973B47 */ /* color for lack resources convertion */
	background: no-repeat border-box linear-gradient(90deg, #973B47 0%, #973B47 12px, rgba(85, 85, 85, 0.4) 14px, rgba(85, 85, 85, 0.4) 100%);
}
.scheme_school .btn.disabled.bldlackResConvert:hover {
	background: no-repeat border-box linear-gradient(90deg, #973B47 0%, #973B47 12px, rgba(85, 85, 85, 0.4) 14px, rgba(85, 85, 85, 0.4) 100%);
}
.scheme_school .btn:not(.disabled).bldlackResConvert {
	background: no-repeat border-box linear-gradient(90deg, #973B47 0%, #973B47 12px, rgba(107, 112, 122, 0.5) 14px, rgba(107, 112, 122, 0.5) 100%);
}
.scheme_school .btn:not(.disabled).bldlackResConvert:hover {
	background: no-repeat border-box linear-gradient(90deg, #b74756 0%, #b74756 12px, rgba(107, 112, 122, 0.6) 14px, rgba(107, 112, 122, 0.6) 100%);
}
.scheme_school .btn.disabled.bldEnabled { /* color #3B7233 */
	background: no-repeat border-box linear-gradient(90deg, #3B7233 0%, #3B7233 12px, rgba(85, 85, 85, 0.4) 14px, rgba(85, 85, 85, 0.4) 100%);
}
.scheme_school .btn.disabled.bldEnabled:hover {
	background: no-repeat border-box linear-gradient(90deg, #3B7233 0%, #3B7233 12px, rgba(85, 85, 85, 0.4) 14px, rgba(85, 85, 85, 0.4) 100%);
}
.scheme_school .btn:not(.disabled).bldEnabled {
	background: no-repeat border-box linear-gradient(90deg, #3B7233 0%, #3B7233 12px, rgba(107, 112, 122, 0.5) 14px, rgba(107, 112, 122, 0.5) 100%);
}
.scheme_school .btn:not(.disabled).bldEnabled:hover {
	background: no-repeat border-box linear-gradient(90deg, #5eb252 0%, #5eb252 12px, rgba(107, 112, 122, 0.6) 14px, rgba(107, 112, 122, 0.6) 100%);
}
.scheme_school .dialog {
	box-shadow: inset 0 1px 3px #000000;
	border: solid 2px #444444;
	border-top: solid 6px #444444;
	border-radius: 5px 5px 11px 11px;
}
.scheme_school .dialog a {
	text-transform: capitalize;
}
.scheme_school .dialog a:hover {
	text-shadow: 1px 1px 1px #000000;
	color: #A56B5B;
}
.scheme_school label i { /* information text in option windows */
    /* default font size = font-size: 90%; */
    color: #777777;
}
.scheme_school select { /* dropdown list on settlement tab and options windows */
	font-weight: lighter;
	background-color: #292728;
    color: #D2D2D2;
	padding-bottom: 2px;
	margin-left: 3px;
	border-color : #404040;
	border-right-color: #282828;
	border-bottom-color: #282828;
	font-size: 80%;
	border-radius: 3px;
	box-shadow: -1px -1px 1px #707070, 1px 1px 1px #000000;
	text-shadow: 0 1px #000000;
}
.scheme_school select>option {
	background-color: #292728;
    color: #ABAEB7;
	padding: 2px 10px; /* -2 pixel vertical */
}
@-moz-document url-prefix() { /* Firefox only */
	.scheme_school select>option {
		font-family: 'Verdana', sans-serif; /* font sans-serif because firefox can't use cursive on select */
	}
}
.scheme_school select > option:disabled {
	color: #606060;
	font-size: 90%;
}
.scheme_school .dialog input[type="button"] {
	margin-left: 7px;
	margin-bottom: 10px;
}
.scheme_school #optionsDiv input[type="checkbox"] + label:before {
    content: "\2610"; /* BALLOT BOX */
	font: 14px sans-serif;
	color: #606060;
}
.scheme_school #optionsDiv input[type="checkbox"]:checked + label:before {
	content: "\2611"; /* BALLOT BOX WITH CHECK */
	font: 14px sans-serif;
	color: #A0A0A0;
}
.scheme_school .dialog input#batchSize {
	background-color: #292728;
    color: #D2D2D2;
    padding: 3px 1px 3px 5px;
    margin-right: 5px;
	border: 2px inset #404040;
	border-radius: 3px;
    box-shadow: inset -1px -1px 2px #707070,
                inset 2px 2px 5px #000000;
	margin-top: 3px;
	margin-bottom: 3px;
}
.scheme_school textarea#importData,
.scheme_school textarea#exportData {
	box-shadow: inset 3px 3px 3px #000000,
				2px 2px 2px #707070;
	border: solid 1px #303030;
	border-right-color: #585858;
	border-bottom-color: #585858;
	border-radius: 3px 3px 9px 9px;
	/* Only FireFox */
	scrollbar-width: thin;
   	scrollbar-color: #303030 #606060;
}

/*************************************************/
/******************** TOP BAR ********************/
/*************************************************/
.scheme_school #topBar {
	background-color: #292728;
	font-size: 90%;
    height: 22px;
    border-bottom: 1px solid #292728;
	top: 0; /* for no shadow on top */
	box-shadow: 0 2px 5px #000000;
}
.scheme_school #topBar .links-block { /* a link separator : | on topBar links */
	color: rgba(86, 89, 92, 0.3); /* color #56595C */
}
.scheme_school #topBar div,
.scheme_school #topBar .toolbarIcon.sorrow div { /* counter of BLS (Black Liquid Sorrow) */
	color: #D2D2D2;
}
.scheme_school .toolbarIcon.sorrow.max div {
    color: #973B47 !important; /* in default.js !important needed */
}
.scheme_school #topBar a.copyright {
	text-transform: capitalize;
	color: #4895b9;
}
.scheme_school #topBar a.copyright:hover {
	color: #B5BAC4;
}
.scheme_school #topBar > div:first-child > span:first-child:after {
    color: #A56B5B;
    content: '\00a0\00a0\00a0Theme by Volkeyrn\00a0\00a0\00a0';
	text-shadow: none;
    text-decoration: none;
	font-weight: normal; /* thin if possible with font sizes */
}
.scheme_school #autosaveTooltip {
	color: #A56B5B;
}
.scheme_school #getTheApp-link { /* Get the app */
	color: #884F33 !important;
	font-weight: normal !important;
}
.scheme_school #getTheApp-link:hover {
	color: #B5BAC4 !important;
}
.scheme_school #topBar .toolbarIcon.happiness div {
    color: #A56B5B;
}
.scheme_school #topBar .toolbarIcon.energy div,
.scheme_school .button_tooltip .energyProduction {
    color: #3B7233;
}
.scheme_school #topBar .toolbarIcon.energy.warningWinter div{
    color: #A56B5B;
}
.scheme_school #topBar .toolbarIcon.energy.warning div,
.scheme_school .button_tooltip .energyConsumption {
	color: #973B47;
}
.scheme_school .button_tooltip .energyPenalty {
	color: #b74756;
}

/************************************************/
/******************** FOOTER ********************/
/************************************************/
.scheme_school #footerLinks {
	font-size: 90%;
	bottom: 6px; /* default bottom: 10px; */
	color: rgba(86, 89, 92, 0.3); /* color #56595C */ /* a link separator : | on footer links */
	background: none;
}
.scheme_school #footerLinks a {
	text-transform: capitalize;
}

/*************************************************/
/******************** TOOLTIP ********************/
/*************************************************/
.scheme_school div.tooltip-inner {
	font-size: 13px; /* for center tooltip except title, effects and flavor */
}
.scheme_school #tooltip,
.scheme_school .tooltip-block > div {
    background-image: url('img/theme-school_dark.jpg'); /* source : https://pngtree.com/freebackground/taobao-small-appliances-poster-tmall-kitchen-supplies-banner_1061754.html */
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center;
	color: #828790; /* tooltip windows == left column : left text */
	background-color: #292728;
	border: 1px solid #585858;
	border-top: 3px solid #484848;
	border-radius: 0 0 5px 5px;
	box-shadow: inset 0 1px 2px #000000, 2px 2px 3px #000000;
}
.scheme_school .tooltip-block > div { /* tooltip on ? top right column */
	font-size: 13px;
	padding: 5px;
}
.scheme_school .button_tooltip {
	background-color: transparent;
	backdrop-filter: none; /* default : backdrop-filter: blur(2px); */
	font-size: 13px; /* for tooltip left column */
}
.scheme_school .button_tooltip div { /* tooltip window == left column: right text | center column :highlighting text */
	color: #ABAEB7;
}
.scheme_school .tooltip-inner .desc {   /* Tooltip Window : title text */
	font-size: 14px; /* default font-size: 15px; */
	color: #C2C6CF;
	border-bottom : 1px solid rgba(86, 89, 92, 0.4) !important; /* color #56595C /* /* border line under title */ /* in core.js !important needed */
	margin-bottom: 5px;
}
.scheme_school .tooltip-inner .desc.small {
	font-size: 75%; /* default font-size: 60%; */
	opacity: 1; /* default opacity: 0.8; */
}
.scheme_school .tooltip-inner .desc.small.auto-off {
	color: #973B47;
}
.scheme_school .tooltip-inner .desc.small.auto-on {
	color: #3B7233;
}
.scheme_school .tooltip-divider { /* border line before effects text */
	border-bottom : 1px solid rgba(86, 89, 92, 0.4) !important; /* color #56595C */ /* in core.js !important needed */
}
.scheme_school #tooltip .effectName { /* Tooltip Window : effects text */
	font-size: 13px; /* default font-size: 14px; */
	color: #A56B5B !important;
}
.scheme_school .rawRes { /* Tooltip Window == text for all missing resources for primary resource */
    color: #707070;
	font-style: italic;
	padding-left: 12px;
}
.scheme_school .button_tooltip .noRes,
.scheme_school .limited { /* on ressource limited or not attainable */
    color: #973B47;
}
.scheme_school #tooltip .flavor { /* Tooltip Window : last bottom text on center column tooltip window */
	font-size: 11px !important; /* default font-size 12px */ /* in core.js !important needed */
	color: #E8BA04;
}

/*******************************************************/
/******************** CENTER COLUMN ********************/
/*******************************************************/
.scheme_school .tab {
    font-size: 14px;
}
.scheme_school .tabInner {
	padding-top: 5px; /* default padding 15px; */
    border: none; /* border for all under tabs in center column */
}
.scheme_school .tabInner.Bonfire {
	margin-bottom: 0; /* default margin-bottom: 20px; */
}
.scheme_school .tabInner.Workshop {
	margin-bottom: 70px; /* default margin-bottom: 20px; */
}
.scheme_school .tabsContainer {
	font-size: 10px;
	padding-bottom: 5px; /* default padding-bottom: 15px; */
	/* default padding-top: 2px; */
}
.scheme_school .tabsContainer span:not(.genericWarning) { /* separator | for tab */
	color: rgba(86, 89, 92, 0.3); /* color #56595C */
}
.scheme_school .activeTab {
	color: #B5BAC4;
	text-shadow: 0 1px 1px #000000;
}
.scheme_school a.activeTab {
	text-decoration: underline rgba(187, 192, 202, 0.5); /* color #BBC0CA */
}
.scheme_school span.genericWarning { /* number of kittens free or engineering free on tab */
	color: #973B47;
}
.scheme_school .tab.traitLeaderBonus::before {
	content: "\2605"; /* BLACK STAR */
	color: #4895b9;
}
.scheme_school .tab.engineer::before { /* artisan bonus */
	content: "\2692\00a0"; /* HAMMER AND PICK */
}
.scheme_school .tab.metallurgist::before {
	content: "\267B\00a0"; /* BLACK UNIVERSAL RECYCLING SYMBOL */
}
.scheme_school .tab.chemist::before {
	content: "\2623\00a0"; /* BIOHAZARD SIGN */
}
.scheme_school .tab.merchant::before {
	content: "\2696\00a0"; /* SCALES */
}
.scheme_school .tab.manager::before { /* hunting bonus */
	content: "\27B4\00a0"; /* BLACK-FEATHERED SOUTH EAST ARROW */
}
.scheme_school .tab.scientist::before {
	content: "\269B\00a0"; /* ATOM SYMBOL */
}
.scheme_school .tab.wise::before {
	content: "\2600\00a0"; /* BLACK SUN WITH RAYS */
}
.scheme_school .bldTopContainer { /* under tab */
    font-size: 13px;
}
.scheme_school .bldTopContainer a.activeTab:hover {
    color: #B5BAC4;
	opacity: 0.7; /* default opacity 0.7 on not hover */
}
.scheme_school .bldGroupContainer { /* container for all buttons on center column */
    padding-top: 5px; /* default 15px */
    border-top: 1px solid rgba(187, 192, 202, 0.2); /* color #BBC0CA */
    margin-top: 5px; /* default 10px */
}
.scheme_school input[type='button'] {
	background-color: #D2D2D2 !important;
    cursor: pointer !important;
    box-shadow: 1px 1px 1px #909090 !important;
    border: solid 1px #D2D2D2 !important; /* for no offset when border on */
    border-radius: 7px !important;
    color: #171516;
    padding: 5px 20px;
}
.scheme_school input[type='button']:hover {
	background-color: #BBBBBB !important;
	border: solid 1px #202020 !important;
	border-right-color: #505050 !important;
	border-bottom-color: #505050 !important;
	color: #171516 !important;
	cursor: pointer !important;
	font-weight: bold;
	box-shadow: inset 2px 2px 3px #000000,
				1px 1px 1px #707070 !important;
	text-shadow: 0 1px #DCDCDC;
}
.scheme_school input[type='button']#observeBtn {
	font-weight: bold;
}
.scheme_school .btn.modern a {
	font-size: 13px;
	font-weight: 300;
	color: #787d88;
	background-color: transparent;
	padding: 10px 3px 10px 3px !important; /* -1 pixel on vertical for correct align left border */
}
.scheme_school .btn.modern:not(.disabled) a {
	border-color: rgba(156, 159, 169, 0.1); /* color #9C9FA9 */
}
.scheme_school .btn.modern.disabled a {
	border-color: rgba(85, 85, 85, 0.4) !important; /* color #555555 */
}
.scheme_school .btn.modern a:hover {
	color: #C2C6CF;
	text-shadow: 1px 1px #000000;
}
.scheme_school .btn.modern:not(.disabled) a:hover {
	background-color: rgba(194, 198, 207, 0.1); /* color #C2C6CF */
}
.scheme_school .btn.modern.disabled a:hover {
	color: #C2C6CF;
	background-color: rgba(194, 198, 207, 0.1); /* color #C2C6CF */
}
.scheme_school .btn.modern:not(.disabled):active,
.scheme_school input[type='button']:active {
    border-color: #FFFFFF !important;
}
.scheme_school .linkContent { /* dropdown list on button */
    margin-top: 25px !important; /* for correct vertical align dropdown list */
	width: auto !important;
	border-radius: 0 3px 3px 3px;
	background-color: #4c4f55; /* color pick from button not disabled and hover */
}
.scheme_school .btn.modern:not(.disabled) .linkContent {
	box-shadow: 2px 2px 3px #000000;
}
.scheme_school .container .linkContent { /* dropdown list on button in container */
	margin-top: 26px !important; /* for correct vertical align dropdown list */
}
.scheme_school .btn.modern.disabled .linkContent { /* dropdown list on button disabled */
 	background-color: #333333; /* color pick from button disabled and hover */
}
.scheme_school .linkContent a {
    color: #B5BAC4;
    width: 38px;
    margin-top: 0;
    margin-bottom: 0;
}
.scheme_school .linkContent a:first-child,
.scheme_school .linkContent a:first-child:hover {
	border-radius: 0 3px 0 0;
}
.scheme_school .linkContent a:last-child,
.scheme_school .linkContent a:last-child:hover {
	border-radius: 0 0 3px 3px;
}
/* Apply the right border radius of the button to the rightmost link */
.scheme_school .btn.modern span.btnTitle + a,
.scheme_school .btn.modern:not(.hasSellLink) a.off1Link, /* link minus on buildings buttons */
.scheme_school .btn.modern:not(.hasSellLink) a.unassignLink, /* link minus on kittens jobs buttons */
.scheme_school .btn.modern .btnContent a.rightestLink { /* for Combust TC button on Time tab */
	border-radius: 0 5px 5px 0; /* buttons border-radius: 5px; */
}
.scheme_school .btnContent a.small {
	font-size: 0.7em; /* default font-size: 0.7em; */
}
.scheme_school .btn.modern.hasSellLink span.btnTitle + a { /* for buttons sell link */
	font-size: 0.9em; /* default font-size: 0.7em; */
}
.scheme_school .panelContainer {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(187, 192, 202, 0.1); /* color #BBC0CA */
	border-radius: 3px 3px 9px 9px;
}
.scheme_school table.statTable {
	background-color: rgba(0, 0, 0, 0.3);
	margin-top: 6px;
	margin-left: 12px;
	padding: 9px;
	border : 1px solid rgba(165, 107, 91, 0.4); /* color #A56B5B; */
	border-radius: 3px 3px 9px 9px;
}
.scheme_school .panelContainer div.title {
    color: #D2D2D2;
	text-shadow: 1px 1px #000000;
	font-style: italic;
}
.scheme_school .panelContainer .toggle {
	border: none;
	text-shadow: 0 0 6px rgba(255, 255, 255, 1);
}
.scheme_school .container.trade-race .crypto-trade .btn.modern {
	max-width: 126px; /* (button content width - (2 x button border width) - (1 x button margin-right)) / 2 => (264 -2 -10)/2 = 126 */
}
.scheme_school .trade-race .buys {
	color: #974338;
	font-size: smaller;
}
.scheme_school .trade-race .sells {
	color: #3B7233;
	font-size: smaller;
}
.scheme_school .trade-race .tradeAmount {
	color: #777777;
	font-size: smaller;
}
.scheme_school .attitude { /* text for attitude races int trade tab */
	color: #696969 !important;
	text-shadow: none !important;
}
.scheme_school .attitude:before {
	/* default content: "("; */
	content: "\00a0\21B7\00a0"; /* default content: "("; */ /* CLOCKWISE TOP SEMICIRCLE ARROW */
	color: #4895b9;
	font-size: larger;
	font-weight: bold;
}
.scheme_school .attitude:after {
	/* default content: ")"; */
	content: ""; /* default content: ")"; */
}
.scheme_school .container.trade-race a[title='Pinned'] {
	color: #4b9241;
	font-weight: bold;
}
.scheme_school .container.trade-race a[title='Pinned']:hover {
	color: #5eb252;
}
.scheme_school .panelContainer div.censusFilters {
	margin-bottom: 3px; /* for add a margin under the 2 lists (select) in the settlement tab */
}
/* ---------- Village ----------*/
/* container 'Census' -> list of kittens in settlement tab */
.scheme_school .panelContainer .census-block {
	background-color : transparent;
	border-radius: 1px 1px 5px 5px;
	border-color: rgba(187, 192, 202, 0.1); /* color #BBC0CA */
	/* default padding: 5px; */
	/* default margin-bottom: 5px; */
}
.scheme_school .census-block:hover {
	border-color: #606060;
}
.scheme_school .census-block.simLeader {
	background-color : rgba(17, 138, 194, 0.05); /* color #4895b9; */
	border-color: rgba(187, 192, 202, 0.3); /* color #BBC0CA */
}
.scheme_school .census-block.simLeader a.leaderHref {
	color: #4895b9;
	text-shadow: 0 0 3px #4895b9;
}
.scheme_school .census-block .info { /* info of kitten */
	font-size: 0.9em;
	color: #B9B9B9;
}
.scheme_school .census-block .skill { /* jobs unasigned */
	color: #707070;
}
.scheme_school .census-block .skill:first-of-type { /* job assigned */
	color: #4895b9;
	font-weight: normal !important;
}
.scheme_school .census-block.simLeader .info span.name {  /* Leader name */
	font-size: 1.3em;
}
.scheme_school .census-block.simLeader .skill:first-of-type { /* Leader job assigned */
	font-size: 1em; /* default font-size: 0.8em; */
}
.scheme_school .census-block .color-none { /* name of kitten */
    color: #B9B9B9
}
.scheme_school .census-block .color-brown {
    color: #955628;
}
.scheme_school .census-block .color-cream {
    color: #c8ad7f;
}
.scheme_school .census-block .color-black {
    color: #614b3a;
}
.scheme_school .census-block .color-fawn {
    color: #ad4f09;
}
.scheme_school .census-block .color-white {
    color: #EEEEEE;
}
.scheme_school .btn.modern a.bld-on,
.scheme_school .btn.modern a.auto-on,
.scheme_school .btn.modern a.fugit-on {
	color: #4b9241;
}
.scheme_school .btn.modern:hover a.bld-on,
.scheme_school .btn.modern:hover a.auto-on,
.scheme_school .btn.modern:hover a.fugit-on {
	color: #5eb252;
}
.scheme_school .btn.modern a.bld-off,
.scheme_school .btn.modern a.auto-off,
.scheme_school .btn.modern a.fugit-off {
	color: #973B47;
}
.scheme_school .btn.modern:hover a.bld-off,
.scheme_school .btn.modern:hover a.auto-off,
.scheme_school .btn.modern:hover a.fugit-off {
	color: #b74756;
}
.scheme_school .btn.modern.craftOn span.btnTitle { /* all buttons with engineer(s) in workshop tab */
	color: #4b9241;
}
.scheme_school .btn.modern.craftOn:hover span.btnTitle {
	color: #5eb252;
	text-shadow: 1px 1px 2px #090909;
}
.scheme_school td.craftStuffPanel > span { /* title of craft stuff panel */
	color: #A56B5B;
	text-decoration: underline rgba(187, 192, 202, 0.6); /* color #BBC0CA */
}
.scheme_school td.craftStuffPanel > table { /* craft stuff panel */
	background-color: rgba(80, 80, 80, 0.1);
	border : 1px solid rgba(165, 107, 91, 0.4); /* color #A56B5B; */
	border-radius: 3px 3px 9px 9px;
	margin-top: 10px;
	padding: 10px 20px; /* default padding-top: 20px; */
}

/**********************************************************/
/******************** ACHIEVEMENTS TAB ********************/
/**********************************************************/
.scheme_school .achievement-header {
	color: #D2D2D2;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
	font-size: 100%;
}
.scheme_school .achievement {
    display: block;
    margin: 10px;
    height: 40px;
    background-color: rgba(187, 192, 202, 0.1); /* color #BBC0CA */
    color: #D2D2D2;
    text-shadow: rgba(187, 192, 202, 1) 2px 0 10px; /* color #BBC0CA */
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: default !important;
	border-color : rgba(165, 107, 91, 0.4); /* color #A56B5B; */
	border-radius: 3px 3px 9px 9px;
}
.scheme_school .achievement:hover {
    background-color: rgba(181, 133, 120, 0.3); /* color #b58578 */
	border-color : rgba(165, 107, 91, 1); /* color #A56B5B; */
}
.scheme_school .achievement.unethical {
    text-shadow: rgba(255, 67, 91, 1) 2px 0 10px;
	background-color: rgba(151, 59, 71, 0.1); /* color #973B47 */
	border-color : rgba(151, 59, 71, 0.5); /* color #973B47 */
}
.scheme_school .achievement.unethical:hover {
    background-color: rgba(184, 72, 87, 0.4); /* color #b84857 */
	border-color : rgba(151, 59, 71, 1); /* color #973B47 */
}
.scheme_school .achievement[title='???'] {
    color: rgba(220, 220, 220, 0.5);
	background-color: rgba(140, 140, 140, 0.1);
    text-shadow: none;
	border-color : rgba(140, 140, 140, 0.4);
}
.scheme_school .achievement[title='???']:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.scheme_school .achievement:after {
    display: block;
    margin-top: 5px;
    font-size: 90%;
    color: #FFFFFF;
    text-shadow: none;
    text-transform: capitalize;
    letter-spacing: normal;
    font-weight: normal !important;
}
.scheme_school .achievement.unethical:after {
	color: #FFFFFF !important;
}
.scheme_school .achievement-header .star {
     color: #A56B5B; /* orange or dominant color of the theme */
}
.scheme_school .achievement .star {
	color : #888888;
}
.scheme_school .achievement.unlocked .star {
	color : #A56B5B; /* orange or dominant color of the theme */
	font-weight: bold;
	text-shadow: 0 1px rgba(0, 0, 0, 0.9);
}

/******************************************************/
/******************** RIGHT COLUMN ********************/
/******************************************************/
.scheme_school #rightColumn {
	width: calc(50% - 355px);
	max-width: 440px;
}
.scheme_school #toggleCenter,
.scheme_school span.toggleCenter {
	color: #6B707A;
	opacity: 0.4; /* default opacity: 0.2; */
	cursor: pointer;
}
.scheme_school span.toggleCenter {
	opacity: 1; /* for have #toggleCenter same color */
}
.scheme_school #toggleCenter:hover,
.scheme_school div#toggleCenter:hover > span.toggleCenter {
	color: #B5BAC4;
	opacity: 1.0;
}
.scheme_school #calendarDiv {
	color: #787878;
	padding-left: 5px;
    margin-top: 5px;
	text-shadow: 1px 1px 1px #000000, 0 0 3px #000000;
}
.scheme_school #calendarSign {
   font-size: 120%;
}
.scheme_school #calendarSign:hover {
   cursor: default;
}
.scheme_school .right-tab-header { /* Log | Chat link on right column */
	color: rgba(86, 89, 92, 0.5); /* color #56595C */ /* for separator tab | */
	font-size: 80%;
 }
.scheme_school .right-tab-header a.active {
    text-decoration: underline rgba(187, 192, 202, 0.4); /* color #BBC0CA */;
	color: #B5BAC4;
	border-top: none;
}
.scheme_school #rightTabChat {
	margin-top: 20px;
}
.scheme_school div.console-intro { /* Text on right column : "You are a kitten in a catnip forest." */
	color: #4A4A4A;
	font-size: 90%;
	font-weight: 400; /* thin if possible with font sizes */
	border-top: 1px solid rgba(86, 89, 92, 0.5) !important; /* color #56595C */
	margin-top: 10px;
}
.scheme_school #clearLogHref { /* Link in right column : Clear log */
	font-size: 80%;
}
.scheme_school #logFiltersBlock > a { /* Link in right column : [+]Log Filters */
	font-size: 80%;
	margin-left: 5px;
}
.scheme_school #pauseBtn { /* Link in right column : pawse */
	margin-left: 5px;
}
.scheme_school #gameLog {
	scrollbar-width: thin; /* only Firefox */
}
.scheme_school #gameLog span.msg:not(.type_date) {
    margin-left: 1.2em;
	list-style-type: '\2574'; /* BOX DRAWINGS LIGHT LEFT */
	padding-left: 0.3em;
}
.scheme_school #gameLog span.noBullet {
	margin-left: 2.3em !important;
	list-style-type: '\000B7' !important; /* CenterDot */
}
.scheme_school .msg {
	font-size: 85%;
	font-weight: normal;
	color: #81848C;
	padding-right: 3px;
}
.scheme_school .msg.type_notice {
    color: #4895b9; /* color default : #01A9DB; */
}
.scheme_school .msg.type_important {
    color: #A56B5B; /* color default : coral; */
}
.scheme_school .msg.type_alert {
    color: #973B47; /* color default : red; */
}
.scheme_school .msg.type_urgent {
	/* default color: blueviolet; */
	font-size: 1.1em;
}
.scheme_school .msg.type_date {
    color: #D2D2D2;
	text-transform: none;
	text-shadow: 1px 1px #000000;
	text-decoration: underline rgba(187, 192, 202, 0.6); /* color #BBC0CA */
	border-bottom: solid 1px transparent;
}

/*****************************************************/
/******************** LEFT COLUMN ********************/
/*****************************************************/
.scheme_school .res-toolbar.right {
	padding-right: 10px;
}
.scheme_school a.link.collapse {
	opacity: 0.4; /* default opacity: 0.2; */
}
.scheme_school a.link.collapse:hover {
	opacity: 1;/* default opacity: 0.9; */
	color: #B5BAC4;
}
.scheme_school .res-toolbar .link.toggled {
    color: #A56B5B;
}
.scheme_school div.tooltip-block > span {
	color: #6B707A;
}
.scheme_school div.tooltip-block:hover > span {
	font-weight: bold;
	color: #B5BAC4;
}
.scheme_school .res-table {
    max-width: 352px;    /* +12 pixel */
    border-collapse: collapse; /* gain of 3 pixel by border -> no margin bottom after */
	margin-left: 2px; /* without 0px margin left for all ressources */
 }
.scheme_school .res-row:hover {
    background-color: rgba(194, 198, 207, 0.1); /* color #C2C6CF */
	cursor: default;
}
.scheme_school .highlited { /* higlighting ressources when hover button on center windows */
	background-color: rgba(194, 198, 207, 0.1); /* color #C2C6CF */
}
.scheme_school .craftTable {
	 margin-bottom: 10px !important; /* for correct margin bottom due of the line above with border-collapse: collapse on .res-Table ! */
 }
.scheme_school .res-cell.craft-link {
	color: #6B707A;
 }
.scheme_school .res-cell.craft-link:hover,
.scheme_school .res-cell.craft-link.all:hover { /* craft table left column */
    color: #B5BAC4;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.9);
	opacity: 1;
}
.scheme_school .maxRes {
	color: #9498a0;
	font-size: 90%;
	min-width: 60px; /* for not adjust size of cell in live. Without column move horizontally */
}
.scheme_school .resAmount {
    color: #9498a0;
	min-width: 75px; /* for not adjust size of cell in live. Without column move horizontally */
	font-size: 90%;
}
.scheme_school .resLimitWarn {
    color: #A56B5B;
	font-style: italic;
}
.scheme_school .resLimitNotice {
    color: #e3e4e7;
}
.scheme_school .resPerTick {
    color: #b8bbc0;
	font-size: 90%;
}
.scheme_school .res-row.resLeaderBonus .resPerTick {
	color: #4895b9;
}
.scheme_school .res-row.craftEngineer .res-cell.resource-value {
	color: #4b9241;
}
.scheme_school div#advisorsContainer {
	color: #973B47;
	padding-top: 6px; /* default padding-top: 10px; */
}
.scheme_school #fastHuntContainer > a { /* Text left column : "Send hunters (xx times)" */
	font-size: 100%;
}
.scheme_school #fastHuntContainerCount { /* Text left column : "xx times" from Send hunters */
	color: #4A4A4A;
	text-shadow: none !important;
}
.scheme_school #fastPraiseContainer > a { /* Text left column : "Praise the sun!" */
	font-size: 100%;
}
.scheme_school #fastPraiseContainer > a:hover {
	text-shadow: 0 0 7px rgba(255, 255, 255, 0.9);
}
.scheme_school #fastHuntContainer > a:hover {
	text-shadow: 1px 1px #000000;
}
.scheme_school .res-cell.positive-weather { /* to change bonus cell according to the season */
	font-size: 80% !important;
	color: #3B7233 !important;
}
.scheme_school .res-cell.negative-weather { /* to change penalty cell according to the season */
	font-size: 80% !important;
	color: #973B47 !important;
}
.scheme_school .res-cell.craft-link.all { /* 6th column of craft table : "all" */
	font-size: 90%; /* default font-size: 80%; */
	opacity: 0.7; /* default opacity: 0.4; */
	color: #A56B5B;
}
.scheme_school .resource_faith .resource-name,
.scheme_school .resource_kittens .resource-name,
.scheme_school .resource_steel .resource-name,
.scheme_school .resource_gear .resource-name,
.scheme_school .resource_alloy .resource-name,
.scheme_school .resource_megalith .resource-name {
	color: #777777 !important;
}

/***************************************************/
/******************** SCROLLBAR ********************/
/***************************************************/
.scheme_school ::-webkit-scrollbar-thumb {
    background: #292728;
	border-radius: 40px;
}
.scheme_school ::-webkit-scrollbar-track {
    background: #242424;
    border-radius: 50px;
}
/* Only FireFox */
.scheme_school #leftColumn,
.scheme_school #rightColumn,
.scheme_school #midColumn,
.scheme_school .dialog {
   scrollbar-width: thin;
   scrollbar-color: #292728 #242424 !important;
}
.scheme_school select {
   scrollbar-width: auto !important;
}
