/* ******************************************************** */
/* ***			Vintage 1.0.3 Theme © Volkeyrn          *** */
/* ******************************************************** */

@import url(https://fonts.googleapis.com/css?family=Bitter:ital,wght@400,600,700,400italic,600italic,700italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:ital,wght@300,400,600,700,300italic,400italic,600italic,700italic,&display=swap);

/* ******************************************** */
/* ******************* GAME ******************* */
/* ******************************************** */

body.scheme_vintage {
	background-color: #242329;
}
.scheme_vintage  #gamePageContainer,
.scheme_vintage select,
.scheme_vintage .btn,
.scheme_vintage .modern,
.scheme_vintage .btn.modern,
.scheme_vintage input[type='button'] {
	font-family: 'Bitter', serif;
}
.scheme_vintage .btn {
	color: gray;
	margin-bottom: 6px; /* default margin-bottom: 10px; */
	background-color: transparent;
	border: solid 1px transparent;
    /* default padding: 5px; */
    /* default width: 170px; */
}
.scheme_vintage .btn.modern {
	/* default font-size: 14px; */
	/* default font-family: Helvetica; */
    /* default border: solid 1px transparent; */
    /* default padding: 0; */
	border-radius: 5px;/* default border-radius: 3px; */
	/* default width: 264px; */
}
.scheme_vintage .btn.modern.disabled {
	border: solid 1px #404040;
	background-color: #161619;
}
.scheme_vintage .btn.modern.disabled:hover {
	border: 1px solid transparent;
	border-image-source: url('img/theme_vintage_frame_04.png'); /* source of images for graphic design : https://pngtree.com/freepng/golden-border-pattern_4493955.html Volkeyrn: permanent premium member */
	border-image-width: 2px 2px 2px 2px;
	border-image-slice: 2 2 2 2;
	border-image-outset: 0;
	border-image-repeat: round;
	box-shadow: inset 0 0 3px 1px #000000, 1px -1px 3px #707070;
}
.scheme_vintage .btn.modern.disabled span.btnTitle { /* to change only the properties of the button name for buttons disabled */
	color: #909090;
}
.scheme_vintage .btn.modern.disabled.limited span.btnTitle { /* to change only the properties of the button name for buttons limited */
	color: #cd564f;
}
.scheme_vintage .btn.modern:not(.disabled) {
	border: solid 1px #606060;
	background-color: #403e49;
}
.scheme_vintage .btn.modern:not(.disabled):hover {
	background-color: #d4b258;
	border: 1px solid transparent;
	border-image-source: url('img/theme_vintage_frame_04.png'); /* source of images for graphic design : https://pngtree.com/freepng/golden-border-pattern_4493955.html Volkeyrn: permanent premium member */
	border-image-width: 2px 2px 2px 2px;
	border-image-slice: 2 2 2 2;
	border-image-outset: 0;
	border-image-repeat: round;
	box-shadow: inset -1px 1px 3px #000000, 1px -1px 3px #707070;
}
.scheme_vintage .btn.modern:not(.disabled):hover a {
	border-left-color: #d8ba69;
}
.scheme_vintage .btn.modern:not(.disabled) span.btnTitle { /* to change only the properties of the button name for buttons enabled */
	color: #f8edd0;
}
.scheme_vintage .btn.modern:not(.disabled):hover span.btnTitle {
	color: #000000;
	text-shadow: 0 1px 1px #000000;
}
.scheme_vintage a {
	color: #a0a0a0;
}
.scheme_vintage a,
.scheme_vintage .craft-link {
    text-decoration: none;
}
.scheme_vintage a:hover {
	color: #f8edd0;
	opacity: 1.0; /* default opacity: 0.6 */
}
.scheme_vintage div {
	color:#c0c0c0;
}
.scheme_vintage .disabled div { /* color text for disabled */
	color: #606060;
}
.scheme_vintage h1 {
	/* default margin-top: 30px; */
	font-size: 18px; /* default font size = font-size: 12px; */
	text-transform: capitalize;
	color: #f8edd0;
	padding-left: 20px;
}
.scheme_vintage h1:first-child {
    margin-top: 0;
}
/* .scheme_vintage .btn.modern.small-text { */
	/* default font-size: 90%; */
/* } */
.scheme_vintage .modern .btnContent {
    padding: 10px 0 10px 1px; /* 1px left for buttons without power background-image */
}
/*** green and red light for machine on/off ***/
.scheme_vintage .btn.bldEnabled div.btnContent,
.scheme_vintage .btn.bldlackResConvert div.btnContent {
	padding: 10px 0 10px 16px; /* 16px left for power background-image */
	border: none; /* also allows you to remove the height difference with the other buttons (they have no border on div.content) */
}
.scheme_vintage .btn.disabled.bldlackResConvert { /* color for lack resources convertion */
	background: no-repeat border-box linear-gradient(90deg, #cd564f 0%, #cd564f 12px, #161619 15px, #161619 100%);
}
.scheme_vintage .btn.disabled.bldlackResConvert:hover {
	background: no-repeat border-box linear-gradient(90deg, #cd564f 0%, #cd564f 12px, #161619 15px, #161619 100%);
}
.scheme_vintage .btn:not(.disabled).bldlackResConvert {
	background: no-repeat border-box linear-gradient(90deg, #cd564f 0%, #cd564f 12px, #403e49 15px, #403e49 100%);
}
.scheme_vintage .btn:not(.disabled).bldlackResConvert:hover {
	background: no-repeat border-box linear-gradient(90deg, #B53B34 0%, #cd564f 12px, #d4b258 15px, #d4b258 100%);
}
.scheme_vintage .btn.disabled.bldEnabled {
	background: no-repeat border-box linear-gradient(90deg, #709c85 0%, #709c85 12px, #161619 15px, #161619 100%);
}
.scheme_vintage .btn.disabled.bldEnabled:hover {
	background: no-repeat border-box linear-gradient(90deg, #709c85 0%, #709c85 12px, #161619 15px, #161619 100%);
}
.scheme_vintage .btn:not(.disabled).bldEnabled {
	background: no-repeat border-box linear-gradient(90deg, #709c85 0%, #709c85 12px, #403e49 15px, #403e49 100%);
}
.scheme_vintage .btn:not(.disabled).bldEnabled:hover {
	background: no-repeat border-box linear-gradient(90deg, #1b786d 0%, #709c85 12px, #d4b258 15px, #d4b258 100%);
}
/*** end of green light for machine on/off ***/
.scheme_vintage .dialog {
	padding: 15px; /* default padding: 20px; */
	background-color:  #242329;
    box-shadow: 0 0 25px 45px #242329;
	border: 1px solid transparent;
	border-radius: 0;
	margin-right: 12px;
	border-image-width: 45px 45px 45px 45px;
	border-image-slice: 45 45 45 45;
	border-image-repeat: round;
	border-image-source: url('img/theme_vintage_frame_01.png'); /* source of images for graphic design : https://pngtree.com/freepng/trend-hot-stamping-photo-frame-golden-border_3945592.html Volkeyrn: permanent premium member */
	border-image-outset: 45px 45px 45px 45px;
	/* Only FireFox */
	scrollbar-width: thin;
	scrollbar-color: #2b2a31 #1d1c21;
}
.scheme_vintage .dialog a {
    text-transform: capitalize;
}
.scheme_vintage .dialog a:hover {
	color: #d4b258;
}
.scheme_vintage label i { /* information text in option windows */
    /* default font size = font-size: 90%; */
	color: #909090;
	opacity: 0.8;
}
.scheme_vintage label:hover {
	opacity: 1;/* default opacity: 0.7; */
	color: #f8edd0;
}
.scheme_vintage label:hover i {
	text-shadow: none;
}
.scheme_vintage select { /* dropdown list on settlement tab and options windows */
	background-color: #161619;
    color: #b0b0b0;
	border: groove 2px #403e49;
	border-radius: 3px;
	font-size: 13px;
	margin-left: 3px;
}
.scheme_vintage select>option {
	background-color: #161619;
    color: #a0a0a0;
	padding: 2px 10px; /* -2 pixel vertical */
}
.scheme_vintage select > option:disabled {
	color: #707070;
	font-size: 90%;
}
.scheme_vintage #optionsDiv input[type="checkbox"] + label:before {
    content: "";
	font: 16px sans-serif;
	width: 34px !important;
	height: 16px !important;
	border-radius: 9999em;
    background-color: #cd564f;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
	background-image: url('img/theme_vintage_switch_off.png'); /* source of images for graphic design : Volkeyrn */
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: top 1px left 1px;
}
.scheme_vintage #optionsDiv input[type="checkbox"]:checked + label:before {
	content: "";
	font: 16px sans-serif;
	text-shadow: 2px 2px 2px #000000;
	background-image: url('img/theme_vintage_switch_on.png'); /* source of images for graphic design : Volkeyrn */
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: top 1px left 1px;
	background-color: #709c85;
}
.scheme_vintage .dialog input[type="button"] {
	margin-left: 7px;
	margin-bottom: 10px;
}
.scheme_vintage .dialog input#batchSize {
	background-color: #161619;
	color: #b0b0b0;
	border: 2px inset #403e49;
	border-radius: 3px;
	padding: 3px 1px 3px 5px;
    margin-right: 5px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.scheme_vintage textarea#importData,
.scheme_vintage textarea#exportData {
	background-color: #161619;
	color: #b0b0b0;
	box-shadow: inset 0 0 3px 2px #000000;
	border: 4px solid transparent;
 	border-image-source: url('img/theme_vintage_frame_02.png'); /* source of images for graphic design : https://pngtree.com/freepng/trend-hot-stamping-photo-frame-golden-border_3945592.html Volkeyrn: permanent premium member */
	border-image-width: 4px 4px 4px 4px;
	border-image-slice: 4 4 4 4;
	border-image-outset: 0;
	border-image-repeat: round;
	padding: 5px;
	margin-bottom: 3px;
	/* Only FireFox */
	scrollbar-width: thin;
   	scrollbar-color: #2b2a31 #1d1c21;
}
.scheme_vintage input:active,
.scheme_vintage select:active,
.scheme_vintage textarea:active {
    border-color: #f8edd0 !important;
}

/* *********************************************** */
/* ******************* TOP BAR ******************* */
/* *********************************************** */
.scheme_vintage #topBar {
    /* default height: 26px; */
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	border-image-source: url('img/theme_vintage_frame_03.png'); /* source of images for graphic design : https://pngtree.com/freepng/trend-hot-stamping-photo-frame-golden-border_3945592.html Volkeyrn: permanent premium member */
	border-image-width: 2px 0 2px 0;
	border-image-slice: 2 0 2 0;
	border-image-outset: 0;
	border-image-repeat: round !important;
	box-shadow: 0 1px 5px #000000;
	top: 0; /* for no shadow on top */
	/* default min-width: 1180px;*/
	padding-top: 4px;
}
/*.scheme_vintage #topBar a {
    /* default padding-left: 2px; */
	/* default padding-right: 2px; */
/* } */
.scheme_vintage #topBar a.copyright {
	color: #cd564f;
}
.scheme_vintage #topBar a.copyright:hover {
	color: #f8edd0;
}
.scheme_vintage #topBar .links-block { /* a link separator : | on topBar links */
	color: transparent;
}
.scheme_vintage #topBar div,
.scheme_vintage #topBar .toolbarIcon.sorrow div { /* counter of BLS (Black Liquid Sorrow) */
	color: #c0c0c0;
}
.scheme_vintage .toolbarIcon.sorrow.max div {
    color: #cd564f !important; /* in default.js !important needed */
}
.scheme_vintage #topBar > div:first-child > span:first-child:after {
    color: #d4b356;
    content: '\00a0\00a0\00a0Theme by Volkeyrn\00a0\00a0\00a0';
    text-decoration: none;
	font-weight: normal;
}
.scheme_vintage #autosaveTooltip {
	color: #d4b356;
}
.scheme_vintage #getTheApp-link { /* Get the app */
	color: #e8e8e8 !important;
}
.scheme_vintage #getTheApp-link:hover {
	color: #f8edd0 !important;
}
.scheme_vintage .links-block {
	padding-top: 5px !important;
}
.scheme_vintage #topBar .toolbarIcon.happiness div{
    color: #c66829;
}
.scheme_vintage #topBar .toolbarIcon.energy div,
.scheme_vintage .button_tooltip .energyProduction {
    color: #709c85;
}
.scheme_vintage #topBar .toolbarIcon.energy.warningWinter div{
    color: #c66829;
}
.scheme_vintage #topBar .toolbarIcon.energy.warning div,
.scheme_vintage .button_tooltip .energyConsumption {
	color: #cd564f;
}
.scheme_vintage .button_tooltip .energyPenalty {
	color: #B53B34;
}

/* ********************************************** */
/* ******************* FOOTER ******************* */
/* ********************************************** */
.scheme_vintage #footerLinks {
	font-size: 90%;
	bottom: 3px; /* default bottom: 10px; */
	/* default right: 5px; */
	color: transparent; /* a link separator : | on footer links */
}

/* *********************************************** */
/* ******************* TOOLTIP ******************* */
/* *********************************************** */
/* .scheme_vintage .tooltip-inner {
	/* default width: 280px; */
	/* font-size: 13px; /* for center tooltip except title, effects and flavor */
/* } */
.scheme_vintage #tooltip,
.scheme_vintage .tooltip-block > div {
	padding-left: 9px; /* default padding-left: 3px; */
	padding-bottom: 5px;
	background-color: #161619;
	background: no-repeat local bottom -15px right -2px url('img/theme_vintage_background.png'), #161619; /* source of images for graphic design : https://pngtree.com/freepng/yellowed-old-border-shabby-texture-photo-frame-nostalgic-photo-frame-grain-texture_3917077.html Volkeyrn: permanent premium member */
	color: #e8e8e8; /* tooltip windows == left column : left text */
	border: 3px solid transparent;
	border-image-source: url('img/theme_vintage_border_02.png'); /* source of images for graphic design : https://pngtree.com/freepng/european-border-pattern-dividing-line-commonly-used-retro-commercial-elements_4023849.html Volkeyrn: permanent premium member */
	border-image-width: 17px 0 17px 0;
	border-image-slice: 17 0 17 0;
	border-image-outset: 5 2 5 2;
	border-image-repeat: round;
	box-shadow: 2px 5px 7px #000000, -2px -5px 7px #000000;
	/* margin-left: 20px; /* for offset tooltip due to larger buttons .btn.modern */
}
.scheme_vintage .tooltip-block > div { /* tooltip on ? top right column */
	padding: 5px;
}
.scheme_vintage .button_tooltip {
	background-color: transparent;
	backdrop-filter: none; /* default : backdrop-filter: blur(2px); */
}
.scheme_vintage .button_tooltip div { /* tooltip window == left column: right text | center column :highlighting text */
	color: #b0b0b0;
}
.scheme_vintage .tooltip-inner .desc { /* Tooltip Window : title text */
    color: #e8e8e8;
	/* default font size = font-size: 15px; */
	border-bottom : 1px solid #404040 !important; /* in core.js !important needed */
	/* default padding-top: 4px; */
	margin-bottom: 5px;
}
.scheme_vintage .tooltip-inner .desc.small {
	font-size: 75%; /* default font-size: 60%; */
	opacity: 1; /* default opacity: 0.8; */
}
.scheme_vintage .tooltip-inner .desc.small.auto-off {
	color: #cd564f;
}
.scheme_vintage .tooltip-inner .desc.small.auto-on {
	color: #709c85;
}
.scheme_vintage .tooltip-divider { /* border line before effects text */
	border-bottom : 1px solid #404040 !important; /* in core.js !important needed */
}
.scheme_vintage .effectName { /* Tooltip Window : effects text */
	color: #d4b356 !important;
	/* default font size = font-size: 14px; */
}
.scheme_vintage .rawRes { /* Tooltip Window == text for all missing resources for primary resource */
    color: #606060;
	font-style: italic;
	padding-left: 12px;
}
.scheme_vintage .button_tooltip .noRes,
.scheme_vintage .limited { /* on ressource limited or not attainable */
	color: #cd564f;
}
.scheme_vintage #tooltip .flavor { /* Tooltip Window : last bottom text on center column tooltip window */
    color: #ff6e42;
	font-size: 13px !important; /* in core.js !important needed */
	padding-right: 7px;
}

/* ***************************************************** */
/* ******************* CENTER COLUMN ******************* */
/* ***************************************************** */
/* .scheme_vintage #midColumn { */
	/* default margin-top: 30px; */
	/* default width: 630px */
/* } */
.scheme_vintage .tab {
    font-size: 13px;
}
.scheme_vintage .tabInner {
    border: none; /* default border: 1px solid gray; */
	padding: 5px 15px 6px 15px;/* 16px gained for buttons width. default padding: 15px; */
	margin-bottom: 36px; /* default margin-bottom: 20px; */
}
.scheme_vintage .tabInner.Workshop div.panelContainer:last-child { /* last panelContainer on Workshop Tab */
	margin-bottom: 54px; /* to view entire dropdownlink of last button */
}
.scheme_vintage .tabInner.Bonfire {
	margin-bottom: 14px; /* default margin-bottom: 20px; */
}
.scheme_vintage .tabsContainer {
	padding-bottom: 5px; /* default padding-bottom: 15px; */
	padding-top: 5px; /* default padding-top: 2px; */
	/* default top: 5px; */
}
.scheme_vintage .tabsContainer a {
	font-size: 14px;
}
.scheme_vintage .tabsContainer span:not(.genericWarning) { /* separator | for tab */
	color: #404040;
}
.scheme_vintage .tabsContainer a.activeTab {
	color: #f8edd0;
}
.scheme_vintage .tabsContainer a.activeTab:hover {
    color: #f8edd0;
}
.scheme_vintage span.genericWarning { /* number of kittens free or engineering free on tab */
	color: #cd564f;
}
.scheme_vintage .tab.traitLeaderBonus::before {
	content: "\2605"; /* BLACK STAR */
	color: #d4b356;
}
.scheme_vintage .tab.engineer::before { /* artisan bonus */
	content: "\2692\00a0"; /* HAMMER AND PICK */
}
.scheme_vintage .tab.metallurgist::before {
	content: "\267B\00a0"; /* BLACK UNIVERSAL RECYCLING SYMBOL */
}
.scheme_vintage .tab.chemist::before {
	content: "\2623\00a0"; /* BIOHAZARD SIGN */
}
.scheme_vintage .tab.merchant::before {
	content: "\2696\00a0"; /* SCALES */
}
.scheme_vintage .tab.manager::before { /* hunting bonus */
	content: "\27B4\00a0"; /* BLACK-FEATHERED SOUTH EAST ARROW */
}
.scheme_vintage .tab.scientist::before {
	content: "\269B\00a0"; /* ATOM SYMBOL */
}
.scheme_vintage .tab.wise::before {
	content: "\2600\00a0"; /* BLACK SUN WITH RAYS */
}
.scheme_vintage div.bldTopContainer > a { /* under tab */
	font-size: 90%;
	font-style: italic;
	/* default padding-bottom: 5px; */
	margin-bottom: 5px;/* default margin-bottom: 15px; */
}
.scheme_vintage div.bldTopContainer a.activeTab {
	color: #f8edd0;
	opacity: 0.75;
}
.scheme_vintage div.bldTopContainer a.activeTab:hover {
    color: #f8edd0;
	/* default opacity 0.7 on not hover */
}
.scheme_vintage .bldGroupContainer { /* container for all buttons on center column */
    padding-top: 5px; /* default padding 15px */
	margin-top: 5px; /* default margin 10px */
	border-top: 15px solid transparent;
 	border-image-source: url('img/theme_vintage_border_01.png'); /* source of images for graphic design : https://pngtree.com/freepng/european-border-pattern-dividing-line-commonly-used-retro-commercial-elements_4023849.html Volkeyrn: permanent premium member */
	border-image-width: 15px 0 0 0;
	border-image-slice: 21 0 0 0;
	border-image-outset: 0;
	border-image-repeat: round;
}
.scheme_vintage input[type='button'] {
	background-color: #161619 !important; /* !important in default.css */
	background: local no-repeat bottom -5px right url('img/theme_vintage_background.png'), #161619 !important; /* source of images for graphic design : https://pngtree.com/freepng/yellowed-old-border-shabby-texture-photo-frame-nostalgic-photo-frame-grain-texture_3917077.html Volkeyrn: permanent premium member */
	box-shadow: 2px 2px 5px #000000,
                 0 -1px 0 #808080 !important; /* !important in default.css */
    border: solid 1px #181818 !important; /* for no offset when border on */ /* !important in default.css */
    border-radius: 3px !important; /* !important in default.css */
	color: #e8e8e8;
	padding: 5px 20px;
	margin-left: 10px;
	text-shadow: 1px 1px 1px #000000;
}
.scheme_vintage input[type='button']:hover {
	background-color: #1c1b20 !important; /* !important in default.css */
	border: solid 1px #161619 !important; /* !important in default.css */
	color: #a0a0a0;
	text-shadow: 1px 1px 1px #000000;
	box-shadow: inset 2px 2px 3px #000000,
				 0 1px 0 #606060 !important; /* !important in default.css */
	cursor: pointer !important; /* !important in default.css */
}
/* button observer different from other input buttons  */
.scheme_vintage input[type='button']#observeBtn {
	font-size: 15px;
	/* border-radius: 5px !important; /* !important in default.css */
	text-shadow: 2px 2px 2px #000000;
	background-color: #403e49 !important; /* !important in default.css */
	background-position: bottom -28px right -5px;
	color: #f8edd0;
	border: 2px solid transparent !important; /* !important in default.css */
	border-image-source: url('img/theme_vintage_frame_03.png') !important; /* source of images for graphic design : https://pngtree.com/freepng/trend-hot-stamping-photo-frame-golden-border_3945592.html Volkeyrn: permanent premium member */
	border-image-width: 2px 2px 2px 2px !important;
	border-image-slice: 2 2 2 2 !important;
	border-image-outset: 0 !important;
	border-image-repeat: round !important;
	box-shadow: 0 0 5px 2px #161619 !important; /* !important in default.css */
}
.scheme_vintage input[type='button']#observeBtn:hover {
	background-color: #d4b258 !important; /* !important in default.css */
	color: #f8edd0;
	text-shadow: 2px 2px 2px #000000;
	box-shadow: 0 0 5px 1px #f8edd0 !important; /* !important in default.css */
	cursor: pointer !important;
}
/* .scheme_vintage .btn .btnContent a { */
    /* default max-width: 50px; */
    /* default overflow-x: hidden; */
    /* default text-overflow: ellipsis; */
/* } */
.scheme_vintage .btn.modern a {
	font-weight: normal;
	line-height: 16px;
	background-color: transparent;
	padding: 10px 4px 10px 4px !important; /* default :  padding: 10px 6px 10px 6px !important; */
	text-shadow: none;
	border-left: 1px solid transparent; /* default border-left: 1px solid #888; */
	/* default margin: -10px 0; */
    /* default min-width: 20px; */
}
.scheme_vintage .btn.modern:not(.disabled) a {
	color: #808080;
	border-left: 1px solid #505050
}
.scheme_vintage .btn.modern.disabled a {
    color: #707070;
	border-left: 1px solid #202020;
}
.scheme_vintage .btn.modern:not(.disabled) a:hover {
	color: #000000;
	text-shadow: 0 1px 1px #161619;
}
.scheme_vintage .btn.modern.disabled a:hover {
	color: #b0b0b0;
}
.scheme_vintage .btn.modern:not(.disabled):active,
.scheme_vintage input[type='button']:active,
.scheme_vintage input[type='button']#observeBtn:active {
    border-color: #f8edd0 !important;
}
.scheme_vintage .linkContent { /* dropdown list on button */
    margin-top: 26px !important; /* for correct vertical align dropdown list */
    width: auto !important;
    background-color: #d4b258; /* color pick from button not disabled and hover */
    border-radius: 0 5px 5px 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: inset 1px 1px 3px #161619, inset -1px -1px 1px #f0f0f0, 1px 1px 3px #000000;
}
.scheme_vintage .linkContent a {
    color: #808080;
    width: 36px !important;
    margin-top: 0 !important;
	margin-bottom: 0 !important;
	border-left: none !important; /* default border-left: 1px solid #888; */
}
.scheme_vintage .btn.modern.disabled .linkContent { /* dropdown list on button disabled */
	background-color: #161619; /* color pick from button disabled and hover */
	box-shadow: inset 0 0 3px 1px #000000, 1px 1px 3px #000000, inset -1px -1px 1px #a0a0a0;
}
.scheme_vintage .btn.modern.disabled .linkContent a {
	border-left: none !important;
}
.scheme_vintage .linkContent a:first-child,
.scheme_vintage .linkContent a:first-child:hover {
	border-radius: 0 5px 0 0;
}
.scheme_vintage .linkContent a:last-child,
.scheme_vintage .linkContent a:last-child:hover {
	border-radius: 0 0 5px 5px;
}
/* Apply the right border radius of the button to the rightmost link */
.scheme_vintage .btn.modern span.btnTitle + a,
.scheme_vintage .btn.modern:not(.hasSellLink) a.off1Link, /* link minus on buildings buttons */
.scheme_vintage .btn.modern:not(.hasSellLink) a.unassignLink { /* link minus on kittens jobs buttons */
	/* buttons border-radius: 5px; */
	border-radius: 0 5px 5px 0;
}
.scheme_vintage .btn.modern .btnContent a.rightestLink { /* for Combust TC button in Time tab and Hold Festival in Settlement tab */
	border-radius: 0 5px 5px 0;
}
/* .scheme_vintage .btn .btnContent a.small { */
    /* default font-size: 0.7em; */
    /* default line-height: 16px; */
/* } */
.scheme_vintage .panelContainer {
	/* default margin-top: 8px; */
	/* default min-height: 30px; */
	border: 4px solid transparent;
 	border-image-source: url('img/theme_vintage_frame_02.png'); /* source of images for graphic design : https://pngtree.com/freepng/trend-hot-stamping-photo-frame-golden-border_3945592.html Volkeyrn: permanent premium member */
	border-image-width: 4px 4px 4px 4px;
	border-image-slice: 4 4 4 4;
	border-image-outset: 0;
	border-image-repeat: round;
	box-shadow: inset 0 0 5px 2px #000000, 0 0 3px 1px #000000;
}
.scheme_vintage table.statTable {
    margin-top: 6px;
	margin-left: 12px;
	padding: 9px;
	color: #c0c0c0;
	border: 5px solid transparent;
 	border-image-source: url('img/theme_vintage_frame_06.png'); /* source of images for graphic design : https://pngtree.com/freepng/frame-vintage-border-decoration-poster-decoration_3822649.html Volkeyrn: permanent premium member */
	border-image-width: 50px 50px 50px 50px;
	border-image-slice: 50 50 50 50;
	border-image-outset: 7px 7px 7px 7px;
	border-image-repeat: round;
}
.scheme_vintage .panelContainer div.title {
	padding: 4px 4px 4px 20px; /* default padding: 4px; */ /* default padding-left: 10px; */
	margin-bottom: 3px;
	color: #e8e8e8;
	font-size: 16px !important;
	text-shadow: 1px 1px 2px #000000;
}
.scheme_vintage .tabInner.Trade .panelContainer div.title {
	padding: 3px 4px 0 20px;
	margin-bottom: 0;
}
.scheme_vintage .panelContainer .toggle {
	font-size: 12px;
	margin: 5px 5px 0 0; /* default margin: 4px; */
	padding-left:  4px; /* default padding-left 6px */
	padding-right: 4px; /* default padding-right 6px */
	padding-bottom: 1px;
	border: none;
	background-color: transparent;
	border-radius: 5px;
	color: #c0c0c0;
}
.scheme_vintage .tabInner.Trade .panelContainer,
.scheme_vintage .tabInner.Space .panelContainer,
.scheme_vintage .tabInner.Time .panelContainer {
	border: 2px solid transparent;
 	border-image-source: url('img/theme_vintage_frame_03.png'); /* source of images for graphic design : https://pngtree.com/freepng/trend-hot-stamping-photo-frame-golden-border_3945592.html Volkeyrn: permanent premium member */
	border-image-width: 2px 2px 2px 2px;
	border-image-slice: 2 2 2 2;
	border-image-outset: 0;
	border-image-repeat: round;
	box-shadow: inset 0 0 3px 1px #000000, 0 0 1px 1px #000000;
}
.scheme_vintage .container {
	padding: 5px; /* default padding: 10px; */
}
.scheme_vintage .container.trade-race .crypto-trade .btn.modern {
	max-width: 126px; /* (button content width - (2 x button border width) - (1 x button margin-right)) / 2 => (264 - 2 -10)/2 = 126 */
}
.scheme_vintage .container div.currentGovernment { /* for padding-bottom too height */
	padding-bottom: 3px !important;
}
/* .scheme_vintage .trade-race > .left { */
    /* default width: 50%; */
/* } */
/* .scheme_vintage .trade-race > .right { */
    /* default width: 50%; */
/* } */
.scheme_vintage .trade-race .buys {
	color: #cd564f;
	font-size: smaller;
}
.scheme_vintage .trade-race .sells {
	color: #709c85;
	font-size: smaller;
}
.scheme_vintage .trade-race .tradeAmount {
	color: #808080;
	font-size: smaller;
}
.scheme_vintage .attitude { /* text for attitude races int trade tab */
	/* default font size = font-size: 90%; */
	color: #a0a0a0 !important;
	text-shadow: none !important;
}
.scheme_vintage .attitude:before {
	/* default content: "("; */
	content: "\00a0\21AD\00a0"; /* default content: "("; */ /* LEFT RIGHT WAVE ARROW */
	color: #d4b356;
	font-size: larger;
	font-weight: bold;
}
.scheme_vintage .attitude:after {
	/* default content: ")"; */
	content: ""; /* default content: ")"; */
}
.scheme_vintage .container.trade-race a[title='Pinned'] {
	color: #709c85;
	font-weight: bold;
}
.scheme_vintage .container.trade-race a[title='Pinned']:hover {
	color: #1b786d;
}
/* .scheme_vintage .btn.explore { */
    /* default margin-right: 9px; */
/* } */
.scheme_vintage .panelContainer div.censusFilters {
	margin-bottom: 2px; /* for add a margin under the 2 lists (select) in the settlement tab */
}
/* ---------- Village ----------*/
/* container 'Census' -> list of kittens in settlement tab */
.scheme_vintage .census-block {
    padding: 5px; /* default padding: 5px; */
    /* default margin-bottom: 5px; */
    background-color: transparent;
    border: solid 1px #707070;
	box-shadow: inset 0 0 1px 1px #000000, 0 0 1px 1px #000000;
}
.scheme_vintage .census-block:hover {
	background: #161619;
	border: 1px solid transparent;
	border-image-source: url('img/theme_vintage_frame_04.png'); /* source of images for graphic design : https://pngtree.com/freepng/golden-border-pattern_4493955.html Volkeyrn: permanent premium member */
	border-image-width: 2px 2px 2px 2px;
	border-image-slice: 2 2 2 2;
	border-image-outset: 0;
	border-image-repeat: stretch;
	box-shadow: inset 0 0 3px 1px #000000, 0 0 3px 1px #000000;
}
.scheme_vintage .census-block.simLeader {
	background-color: #161619;
	border: 2px solid transparent;
 	border-image-source: url('img/theme_vintage_frame_03.png'); /* source of images for graphic design : https://pngtree.com/freepng/trend-hot-stamping-photo-frame-golden-border_3945592.html Volkeyrn: permanent premium member */
	border-image-width: 2px 2px 2px 2px;
	border-image-slice: 2 2 2 2;
	border-image-outset: 0;
	border-image-repeat: round;
	box-shadow: inset 0 0 3px 1px #000000, 0 0 3px 1px #000000;
}
.scheme_vintage .census-block.simLeader a.leaderHref {
	color: #d4b356;
}
.scheme_vintage .census-block .info { /* info of kitten */
	font-size: 0.9em;
	color: #a0a0a0;
}
.scheme_vintage .census-block .skill { /* jobs unasigned */
	color: #707070;
}
.scheme_vintage .census-block .skill:first-of-type { /* job assigned */
	color: #d4b356;
	font-weight: normal !important;
}
.scheme_vintage .census-block.simLeader .info span.name {  /* Leader name */
	font-size: 1.2em;
}
.scheme_vintage .census-block.simLeader .skill:first-of-type { /* Leader job assigned */
	font-size: 1em; /* default font-size: 0.8em; */
}
.scheme_vintage .container .name.color-none { /* name of kitten */
	color: #c0c0c0;
}
.scheme_vintage .container .name.color-brown {
	color: #824b23;
}
.scheme_vintage .container .name.color-cream {
	color: #ad884a;
}
.scheme_vintage .container .name.color-black {
	color: #404040;
}
.scheme_vintage .container .name.color-fawn {
	color: #713306;
}
.scheme_vintage .container .name.color-white {
	color: #f8f8f8;
}
.scheme_vintage .container .name.variety-none {
	border: 1px solid transparent;
}
.scheme_vintage .container .name.variety-dual { /* bicolore */
	border: 1px solid grey;
}
.scheme_vintage .container .name.variety-tabby { /* tigré  ou rayé*/
	border: 1px dashed grey;
}
.scheme_vintage .container .name.variety-torbie { /* marbré strié */
	border: 1px dashed grey;
	border-left: dotted;
	border-right: dotted;
}
.scheme_vintage .container .name.variety-calico { /* tricolore */
	border: 1px solid grey;
	border-top-color: burlywood;
	border-bottom-color: burlywood;
}
.scheme_vintage .container .name.variety-spots { /* tacheté */
	border: 1px dotted grey;
}
.scheme_vintage .btn.modern a.bld-on,
.scheme_vintage .btn.modern a.auto-on,
.scheme_vintage .btn.modern a.fugit-on {
	color: #709c85;
}
.scheme_vintage .btn.modern a.bld-on:hover,
.scheme_vintage .btn.modern a.auto-on:hover,
.scheme_vintage .btn.modern a.fugit-on:hover {
	color: #1b786d;
}
.scheme_vintage .btn.modern a.bld-off,
.scheme_vintage .btn.modern a.auto-off,
.scheme_vintage .btn.modern a.fugit-off {
	color: #cd564f;
}
.scheme_vintage .btn.modern a.bld-off:hover,
.scheme_vintage .btn.modern a.auto-off:hover,
.scheme_vintage .btn.modern a.fugit-off:hover {
	color: #db483c;
}
.scheme_vintage .btn.modern.craftOn span.btnTitle { /* all buttons with engineer(s) in workshop tab */
	color: #709c85;
}
.scheme_vintage .btn.modern.craftOn:hover span.btnTitle {
	color: #1b786d;
	text-shadow: 0 1px 1px #000000;
}
.scheme_vintage td.craftStuffPanel > span { /* title of craft stuff panel */
	color: #e8e8e8;
	text-shadow: 1px 1px 2px #000000;
	font-size: 15px;
}
.scheme_vintage td.craftStuffPanel > table { /* craft stuff panel */
    margin-top: 2px;
    padding: 10px 20px; /* default padding-top: 20px; */
    background-color: #161619;
	box-shadow: inset 0 0 5px 2px #000000, 2px 2px 5px #000000;
	border: 2px solid transparent;
 	border-image-source: url('img/theme_vintage_frame_03.png'); /* source of images for graphic design : https://pngtree.com/freepng/trend-hot-stamping-photo-frame-golden-border_3945592.html/ Volkeyrn: permanent premium member */
	border-image-width: 2px 2px 2px 2px;
	border-image-slice: 2 2 2 2;
	border-image-outset: 0;
	border-image-repeat: round;
}

/* ******************************************************** */
/* ******************* ACHIEVEMENTS TAB ******************* */
/* ******************************************************** */
.scheme_vintage .achievement-header {
	color: #f8edd0;
	font-size: 18px;
	margin-bottom: 3px;
	padding-left: 20px;
}
.scheme_vintage .achievement {
    /* default padding: 5px; */
	/* default padding-left: 10px; */
	display: block;
	font-size: 15px;
	/* default margin-bottom: 10px; */
	height: 34px;
	background-color: transparent;
	color: #e8e8e8;
	letter-spacing: 1px;
	border: 2px solid transparent;
 	border-image-source: url('img/theme_vintage_frame_03.png'); /* source of images for graphic design : https://pngtree.com/ Volkeyrn: permanent premium member */
	border-image-width: 2px 2px 2px 2px;
	border-image-slice: 2 2 2 2;
	border-image-outset: 0;
	border-image-repeat: round;
}
.scheme_vintage .achievement:hover {
	text-shadow: 2px 2px 2px #000000;
	border: 2px solid transparent;
	border-image-source: url('img/theme_vintage_frame_04.png'); /* source of images for graphic design : https://pngtree.com/freepng/golden-border-pattern_4493955.html Volkeyrn: permanent premium member */
	border-image-width: 2px 2px 2px 2px;
	border-image-slice: 2 2 2 2;
	border-image-outset: 0;
	border-image-repeat: stretch;
	box-shadow: inset 0 0 3px 1px #000000;
}
.scheme_vintage .achievement:not(.unethical).unlocked:hover {
	color: #f8edd0;
	box-shadow: 0 0 3px 1px #f8edd0;
}
.scheme_vintage .achievement.unethical {
	color: #cd564f;
}
.scheme_vintage .achievement.unethical:hover {
	color: #db483c;
	box-shadow: 0 0 3px 1px #cd564f;
}
.scheme_vintage .achievement:not(.unlocked) {
	color: #707070;
	background-color: transparent;
	text-shadow: none;
	border: 2px solid #404040;
}
.scheme_vintage .achievement:not(.unlocked):hover {
	color: #909090;
	border-color: #606060;
	box-shadow: none;
}
.scheme_vintage .achievement:after {
	display: block;
	letter-spacing: normal;
	margin-top: 2px;
	font-size: 90%;
	color: #f8f8f8;
	text-shadow: none;
}
.scheme_vintage .achievement-header .star {
	/* default font size = font-size: 18px; */
	color: #c66829; /* orange or dominant color of the theme */
}
.scheme_vintage .achievement .star {
	/* default font size = font-size: 18px; */
	color : #909090;
}
.scheme_vintage .achievement.unlocked .star {
	color : #c66829; /* orange or dominant color of the theme */
}
.scheme_vintage .achievement.unlocked:hover .star {
	font-weight: bold;
	text-shadow: 2px 2px 2px #000000;
}

/* **************************************************** */
/* ******************* RIGHT COLUMN ******************* */
/* **************************************************** */
.scheme_vintage #rightColumn {
    /* default padding-left: 8px; */
	width: calc(50% - 355px);
	max-width: 440px; /* default max-width: 400px; */
    /* default min-width: 250px; */
	top: 30px; /* default top: 20px; */
	/* default margin-top: 4px */
}
.scheme_vintage #toggleCenter,
.scheme_vintage span.toggleCenter {
	color: #a0a0a0;
	opacity: 0.6; /* default opacity: 0.2; */
	cursor: pointer;
}
.scheme_vintage span.toggleCenter {
	opacity: 1; /* for have #toggleCenter same color */
}
.scheme_vintage #toggleCenter:hover,
.scheme_vintage div#toggleCenter:hover > span.toggleCenter {
	color: #f8edd0;
	opacity: 1.0;
}
.scheme_vintage #calendarDiv {
    color: #b0b0b0;
	padding-left: 5px;
    margin-top: 5px;
	text-shadow: 2px 2px 2px #000000;
}
.scheme_vintage #calendarSign {
   font-size: 120%;
}
.scheme_vintage #calendarSign:hover {
   cursor: default;
}
.scheme_vintage .right-tab-header { /* Log | Chat link on right column */
	/* default margin-top: 10px; */
	font-size: 80%;
 }
.scheme_vintage .right-tab-header a {
	margin-right: -5px;
	/* default padding: 5px; */
    /* default padding-left: 30px; */
    /* default padding-right: 30px; */
}
.scheme_vintage .right-tab-header a.active {
	border-top: 1px solid #404040; /* default border-top: 1px solid rgba(128, 128, 128, 0.4); */
	color: #f8edd0;
}
.scheme_vintage .right-tab-header a.active:hover {
	color: #f8edd0;
}
.scheme_vintage div#observeButton {
	margin-top: 5px; /* default margin-top: 15px */
	height: 45px; /* default height: 30px; */
}
.scheme_vintage #rightTabChat {
	margin-top: 15px;
}
.scheme_vintage div.console-intro { /* Text on right column : "You are a kitten in a catnip forest." */
	color: #646464;
	font-weight: normal; /* thin if possible with font sizes */
	border-top: 1px solid #404040 !important;
}
.scheme_vintage #clearLogHref { /* Link in right column : Clear log */
	font-size: 80%;
}
.scheme_vintage #logFiltersBlock > a { /* Link in right column : [+]Log Filters */
	font-size: 80%;
	margin-left: 5px;
}
.scheme_vintage #pauseBtn { /* Link in right column : pawse */
	margin-left: 5px;
}
.scheme_vintage #gameLog {
	/* default overflow-y: auto !important; */
	margin: 15px 10px 5px 10px;
	padding: 5px 10px 10px 3px !important;
	/* 2 lines of code below if border with an image without scrollbar */
	min-height: 5% !important;
	height: unset !important;
	scrollbar-width: thin; /* only Firefox */
	border: 3px solid transparent;
	border-image-source: url('img/theme_vintage_frame_05.png'); /* source of images for graphic design : https://pngtree.com/freepng/retro-european-style-trend-hot-stamping_3854783.html Volkeyrn: permanent premium member */
	border-image-width: 38px 38px 38px 38px;
	border-image-slice: 38 38 38 38;
	border-image-outset: 3;
	border-image-repeat: round;
}
.scheme_vintage #gameLog span.msg:not(.type_date)  {
	margin-left: 1.2em;
	list-style-type: '\21AA'; /* RIGHTWARDS ARROW WITH HOOK */
	padding-left: 0.3em;
}
.scheme_vintage #gameLog span.msg.noBullet {
	margin-left: 2.3em !important;
	list-style-type: '\25AA' !important; /* BLACK SMALL SQUARE */ /* !important in default.css */
}
.scheme_vintage .msg {
	font-size: 85%;
	font-weight: normal;
	color: #c0c0c0;
}
.scheme_vintage .msg.type_notice {
	color: #5677D4; /* default color: #01A9DB; */
}
.scheme_vintage .msg.type_important {
    color: #c66829; /* default color: coral; */
}
.scheme_vintage .msg.type_alert {
    color: #cd564f; /* default color: red; */
}
.scheme_vintage .msg.type_urgent {
	color: #f8edd0; /* default color: blueviolet; */
	font-size: 1.1em;
}
.scheme_vintage .msg.type_date {
	/* default margin-top: 15px; */
	color: #d4b356; /* default color: #ff7f50; */
	/* default font size = font-size: 90%; */
	border-bottom: solid 1px #404040;
	padding-left: 5px;
}

/* *************************************************** */
/* ******************* LEFT COLUMN ******************* */
/* *************************************************** */
.scheme_vintage #leftColumn {
	margin-top: 10px; /* default margin-top: 4px; */
	/* default width: 25%; */
    /* default min-width: 300px; */
	/* default max-width: 400px; */
	padding-right: 10px; /* default padding right : 20px */
}
/* .scheme_vintage a.link { */
    /* default padding-right: 10px; */
/* } */
.scheme_vintage .res-toolbar.right {
	padding-right: 20px;
	/* default margin-right:-18px; */
}
.scheme_vintage a.link.collapse {
	opacity: 0.5; /* default opacity: 0.2; */
}
.scheme_vintage a.link.collapse:hover {
	opacity: 1;/* default opacity: 0.9; */
	color: #f8edd0;
}
.scheme_vintage #leftColumn .res-toolbar a.link.toggled {
    color: #d4b356;
}
.scheme_vintage div.tooltip-block > span {
	color: #a0a0a0;
}
.scheme_vintage div.tooltip-block:hover > span {
	font-weight: bold;
	color: #f8edd0;
}
.scheme_vintage .res-table {
	max-width: 352px;/* default max-width: 340px; */
    border-collapse: collapse; /* gain of 3 pixel by border -> no margin bottom after */
	margin-left: 2px; /* without 0px margin left for all ressources */
}
/* .scheme_vintage .res-toolbar.left { */
    /* default padding-left: 5px; */
/* } */
/* .scheme_vintage .res-cell { */
	/* default padding-left: 2px; */
    /* default padding-right: 2px; */
/* } */
.scheme_vintage .craftTable {
	margin-bottom: 10px !important; /* for correct margin bottom due of the line above with border-collapse: collapse on .res-Table ! */
	/* default padding-bottom: 50px; */
 }
.scheme_vintage .res-cell.craft-link {
	color: #a0a0a0;
	/* default width: 20px; */
	/* default max-width: 60px; */
 }
/* .scheme_vintage .res-cell.craft-link .plusPrefix { */
    /* default font-size: 80%; */
/* } */
.scheme_vintage .res-cell.craft-link.all { /* column craft all */
	font-size: 90%; /* default font-size: 85%; */
	opacity: 1; /* default opacity: 0.4; */
	color: #808080;
}
.scheme_vintage .res-cell.craft-link:hover,
.scheme_vintage .res-cell.craft-link.all:hover { /* craft table left column */
    color: #f8edd0;
	text-decoration: none;
	font-weight: bold;
	opacity: 1;
}
.scheme_vintage .res-row {
	padding-bottom: 2px; /* default padding-bottom: 4px; */
}
.scheme_vintage .res-row:hover {
    background-color: rgba(248, 237, 208, 0.1); /* color: #f8edd0; */
	cursor: default;
}
.scheme_vintage .highlited { /* higlighting ressources when hover button on center windows */
	background-color: rgba(248, 237, 208, 0.1); /* color: #f8edd0; */
}
.scheme_vintage .res-toolbar {
	white-space: nowrap;
}
/* .scheme_vintage div.res-cell.resource-name {  */
	/* default width: 60px; */
	/* default max-width: 85px; */
/* } */
.scheme_vintage .resource_faith .resource-name,
.scheme_vintage .resource_kittens .resource-name,
.scheme_vintage .resource_steel .resource-name,
.scheme_vintage .resource_gear .resource-name,
.scheme_vintage .resource_alloy .resource-name,
.scheme_vintage .resource_megalith .resource-name {
	color: #808080 !important;
}
.scheme_vintage .resource_paragon .resource-name {
	color: #846bd8 !important;
}
.scheme_vintage .resource_burnedParagon .resource-name {
	color: #6141cd!important;
}
.scheme_vintage .resource_antimatter .resource-name,
.scheme_vintage .resource_relic .resource-name,
.scheme_vintage .resource_void .resource-name {
	color: #7557e8 !important;
}
.scheme_vintage .resource_unobtainium .resource-name {
	color: #d5000f!important;
}
.scheme_vintage .resource_eludium .resource-name {
	color: #b003ff!important;
}
.scheme_vintage .maxRes,
.scheme_vintage .resAmount,
.scheme_vintage .resPerTick,
.scheme_vintage .res-cell.resource-value,
.scheme_vintage .craftTable {
	font-family: 'Source Sans Pro', sans-serif;
}
.scheme_vintage .maxRes {
	color: #808080;
}
.scheme_vintage .resAmount {
    color: #b0b0b0;
}
.scheme_vintage .resLimitWarn {
    color: #c66829;
	opacity: 1; /* default opacity: 0.75 */
}
.scheme_vintage .resLimitNotice {
    color: #f8edd0;
}
.scheme_vintage .resPerTick {
	cursor: default;
	color: #b0b0b0;
}
.scheme_vintage .res-row.resLeaderBonus .resPerTick {
	color: #d4b356;
}
.scheme_vintage .res-row.craftEngineer .res-cell.resource-value {
	color: #709c85;
}
.scheme_vintage div#advisorsContainer {
	color: #cd564f;
	/* default padding-top: 10px; */
}
.scheme_vintage .res-cell.resource-value {
	/* default width: 75px; */
	/* default max-width: 90px; */
	color: #b0b0b0;
}
.scheme_vintage #fastHuntContainerCount { /* Text left column : "xx times" from Send hunters */
	color: #707070;
	text-shadow: none !important;
}
.scheme_vintage #fastPraiseContainer >a {
	font-size: larger;
}
.scheme_vintage #fastPraiseContainer >a:hover {
	color: #f8edd0;
	text-shadow: 1px 1px 4px #f8edd0, -1px -1px 4px #f8edd0;
}
.scheme_vintage .res-cell.positive-weather { /* to change the color for bonus cell according to the season */
	color: #709c85;
}
.scheme_vintage .res-cell.negative-weather { /* to change the color for penalty cell according to the season */
	color: #cd564f;
}

/* ************************************************* */
/* ******************* SCROLLBAR ******************* */
/* ************************************************* */
.scheme_vintage ::-webkit-scrollbar-thumb {
    background: #2b2a31;
	border-radius: 40px;
}
.scheme_vintage ::-webkit-scrollbar-track {
    background: #1d1c21;
    border-radius: 50px;
}
/* Only FireFox */
.scheme_vintage #leftColumn,
.scheme_vintage #rightColumn,
.scheme_vintage #midColumn {
   scrollbar-width: thin;
   scrollbar-color: #2b2a31 #1d1c21 !important;
}
.scheme_vintage select {
   scrollbar-width: auto !important;
}
