/* ************************************************************ */
/* ***	       Tombstone 1.0.0 Theme © Volkeyrn             *** */
/* ************************************************************ */

/* ************* */
/* *** FONTS *** */
/* ************* */
@import url(https://fonts.googleapis.com/css?family=Inter:wght@400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:wght@400,700&display=swap);

/* ******************************************** */
/* ******************* GAME ******************* */
/* ******************************************** */
body.scheme_tombstone {
	background: #27282c;
}
.scheme_tombstone #gamePageContainer,
.scheme_tombstone select,
.scheme_tombstone .btn,
.scheme_tombstone .modern,
.scheme_tombstone .btn.modern,
.scheme_tombstone input[type='button'] {
	font-family: 'Inter',sans-serif;
}
.scheme_tombstone .btn {
	color: gray;
	margin-bottom: 7px; /* default margin-bottom: 10px; */
	background-color: transparent;
	border: solid 1px transparent;
    /* default padding: 5px; */
	/* default width: 170px; */
}
.scheme_tombstone .btn.modern {
	/* default font-size: 14px; */
	/* default font-family: Helvetica; */
    /* default border: solid 1px transparent; */
    /* default padding: 0; */
	border-radius: 5px;/* default border-radius: 3px; */
	/* default width: 264px; */
}
.scheme_tombstone .btn.modern.disabled {
	background-color: #232428;
	border: 1px solid #1c1d20;
}
.scheme_tombstone .btn.modern.disabled:hover {
	background-color: #1c1d20;
}
.scheme_tombstone .btn.modern.disabled span.btnTitle { /* to change only the properties of the button name for buttons disabled */
    color: #6c6c6c;
}
.scheme_tombstone .btn.modern.disabled.limited span.btnTitle { /* to change only the properties of the button name for buttons limited */
	color: #bb686e;
}
.scheme_tombstone .btn.modern:not(.disabled) {
	border: 1px solid #525356;
	background-color: #27282c;
}
.scheme_tombstone .btn.modern:not(.disabled):hover {
    background-color: #323337;
	border-color: #5b5b5e;
}
.scheme_tombstone .btn.modern:not(.disabled) span.btnTitle { /* to change only the properties of the button name for buttons enabled */
	color: #b7b8b9;
}
.scheme_tombstone .btn.modern:not(.disabled):hover span.btnTitle {
	color: #fdfeff;
}
.scheme_tombstone a {
	color: #c9c9ca;
	/* default padding-right: 5px; */
}
.scheme_tombstone a,
.scheme_tombstone .craft-link {
    text-decoration: none;
}
.scheme_tombstone a:hover {
	color: #fdfeff;
	opacity: 1.0; /* default opacity: 0.6 */
}
.scheme_tombstone div {
	color: #b7b8b9;
}
.scheme_tombstone .disabled div { /* color text for disabled */
	color: #8d8e90;
}
.scheme_tombstone h1 {
	/* default margin-top: 30px; */
	font-size: 18px; /* default font size = font-size: 12px; */
	text-transform: capitalize;
	color: #fdfeff;
	padding-left: 20px;
	margin-bottom: 8px;
}
.scheme_tombstone h1:first-child {
    margin-top: 15px;
}
/* .scheme_tombstone .btn.modern.small-text { */
	/* default font-size: 90%; */
/* } */
.scheme_tombstone .modern .btnContent {
    padding: 10px 0 10px 1px; /* 1px left for buttons without power background-image */
}
/* *** green and red light for machine on/off *** */
.scheme_tombstone .btn.bldEnabled div.btnContent,
.scheme_tombstone .btn.bldlackResConvert div.btnContent {
	padding: 10px 0 10px 13px; /* 13px left for power background-image */
	border: none; /* also allows you to remove the height difference with the other buttons (they have no border on div.content) */
}
.scheme_tombstone .btn.disabled.bldlackResConvert { /* color for lack resources convertion */
	background: no-repeat padding-box linear-gradient(90deg, #9f484e 0, #9f484e 9px, transparent 10px, transparent 100%), rgba(0, 0, 0, 0.1);
}
.scheme_tombstone .btn:not(.disabled).bldlackResConvert {
	background: no-repeat linear-gradient(90deg, #9f484e 0, #9f484e 9px, transparent 10px, transparent 100%), #27282c;
}
.scheme_tombstone .btn:not(.disabled).bldlackResConvert:hover {
	background: no-repeat linear-gradient(90deg, #bb686e 0, #bb686e 9px, transparent 10px, transparent 100%), #323337;
}
.scheme_tombstone .btn.disabled.bldEnabled {
	background: no-repeat padding-box linear-gradient(90deg, #799f48 0, #799f48 9px, transparent 10px, transparent 100%), rgba(0, 0, 0, 0.1);
}
.scheme_tombstone .btn:not(.disabled).bldEnabled {
	background: no-repeat linear-gradient(90deg, #799f48 0, #799f48 9px, transparent 10px, transparent 100%), #27282c;
}
.scheme_tombstone .btn:not(.disabled).bldEnabled:hover {
	background: no-repeat linear-gradient(90deg, #97bb68 0, #97bb68 9px, transparent 10px, transparent 100%), #323337;
}
/* *** end of green light for machine on/off *** */
.scheme_tombstone .dialog {
	/* default left: 50%; */
	/* default top: 50%; */
	/* default padding: 20px; */
	background: #232428;
	border: 2px ridge #5b5b5e;
	border-radius: 5px;
	box-shadow: 0 0 7px 1px rgba(0, 0 , 0, 0.25);
}
.scheme_tombstone #optionsDiv,
.scheme_tombstone #importDiv,
.scheme_tombstone #exportDiv {
	background: #232428;
}
.scheme_tombstone .dialog a {
	text-transform: capitalize;
}
.scheme_tombstone label i { /* information text in option windows */
    /* default font size = font-size: 90%; */
	color: #8d8e90;
	opacity: 0.8;
}
.scheme_tombstone label {
	margin-top: 2px;
}
.scheme_tombstone label:hover {
	opacity: 1;/* default opacity: 0.7; */
	color: #fdfeff;
}
.scheme_tombstone label:hover i {
	text-shadow: none;
}
.scheme_tombstone select { /* dropdown list on settlement tab and options windows */ /* 226d38 */
	border-radius: 5px;
	font-size: 15px;
	margin-left: 5px;
	padding-bottom: 2px;
	background-color: #27282c;
	border: 1px solid #525356;
	color: #b7b8b9;
}
.scheme_tombstone select:hover {
	cursor: pointer;
	background-color: #323337;
	border-color: #5b5b5e;
	color: #fdfeff;
}
.scheme_tombstone select>option {
	background-color: #27282c;
    color: #b7b8b9;
	padding: 2px 10px; /* -2 pixel vertical */
}
.scheme_tombstone select > option:disabled {
	color: #8d8e90;
	font-size: 90%;
}
.scheme_tombstone #optionsDiv input[type="checkbox"] + label:before {
	content: "\2717"; /* BALLOT X */
	font: 14px sans-serif;
	color: #8d8e90;
	margin: 0 6px 0 3px; /* default style margin: 0px 6px 0px 2px; */
}
.scheme_tombstone #optionsDiv input[type="checkbox"]:checked + label:before {
	content: "\2714"; /* HEAVY CHECK MARK */
	font: 14px sans-serif;
	color: #1773e8;
}
.scheme_tombstone .dialog input[type="button"] {
	margin-left: 17px;
	margin-top: 18px;
	margin-bottom: 2px;
}
.scheme_tombstone .dialog input#batchSize {
	background-color: #323337;
	color: #c9c9ca;
	border: 1px solid #5b5b5e;
	border-radius: 3px;
	padding: 3px 1px 3px 5px;
    margin-right: 5px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.scheme_tombstone textarea#importData,
.scheme_tombstone textarea#exportData {
	background-color: #323337;
	color: #c9c9ca;
	border: 1px solid #5b5b5e;
	border-radius: 3px;
	padding: 5px;
	margin-bottom: 10px;
}
.scheme_tombstone .dialog input#batchSize:focus,
.scheme_tombstone textarea#importData:focus,
.scheme_tombstone textarea#exportData:focus {
	background-color: #414247;
	color: #fdfeff;
}
.scheme_tombstone h1#exportTo,
.scheme_tombstone h1#exportToText,
.scheme_tombstone h1#importFrom,
.scheme_tombstone h1#importFromText {
	margin-top: 20px; /* default margin-top: 30px; */
	margin-bottom: 0; /* default margin-bottom: 8px; */
}
.scheme_tombstone input:active,
.scheme_tombstone select:active,
.scheme_tombstone textarea:active {
    border-color: #1773e8 !important;
}

/* *********************************************** */
/* ******************* TOP BAR ******************* */
/* *********************************************** */
.scheme_tombstone #topBar {
    /* default height: 26px; */
	top: 0; /* default top 2px */
	background-color: #27282c;
	box-shadow: 0 1px #525356; /* default box-shadow: 1px 0px 2px #888; */
	/* default min-width: 1180px; */
	border-bottom: 1px solid #323337; /* default border-bottom: 1px solid gray; */
}
/* .scheme_tombstone #topBar a {
    /* default padding-left: 2px; */
	/* default padding-right: 2px; */
/* } */
.scheme_tombstone #topBar a {
	color: #c9c9ca;
}
.scheme_tombstone #topBar a:hover {
	color: #fdfeff;
}
.scheme_tombstone #topBar a.copyright {
	color: #bb686e;
}
.scheme_tombstone #topBar a.copyright:hover {
	color: #fdfeff;
}
.scheme_tombstone #topBar .links-block { /* a link separator: | on topBar links */
	color: transparent;
}
.scheme_tombstone #topBar div,
.scheme_tombstone #topBar .toolbarIcon.sorrow div { /* counter of BLS (Black Liquid Sorrow) */
	color: #fdfeff;
}
.scheme_tombstone .toolbarIcon.sorrow.max div {
    color: #bb686e !important; /* in default.js !important needed */
}
.scheme_tombstone #topBar > div:first-child > span:first-child:after {
    color: #8d8e90;
    content: '\00a0\00a0\00a0Theme by Volkeyrn\00a0\00a0\00a0';
    text-decoration: none;
	text-shadow: 0 -2px 1px #000000;
	font-weight: normal;
}
.scheme_tombstone #autosaveTooltip {
	color: #6897bb;
}
.scheme_tombstone #getTheApp-link { /* Get the app */
	color: #6897bb !important;
	font-weight: normal !important;
}
.scheme_tombstone #getTheApp-link:hover {
	color: #fdfeff !important;
}
.scheme_tombstone .links-block {
	padding-top: 5px !important;
}
.scheme_tombstone #topBar div.toolbarIcon.happiness div {
    color: #bb8c68;
}
.scheme_tombstone #topBar .toolbarIcon.energy div,
.scheme_tombstone .button_tooltip .energyProduction {
	color: #97bb68;
}
.scheme_tombstone #topBar .toolbarIcon.energy.warningWinter div {
    color: #bb8c68;
}
.scheme_tombstone #topBar .toolbarIcon.energy.warning div,
.scheme_tombstone .button_tooltip .energyConsumption {
	color: #bb686e;
}
.scheme_tombstone .button_tooltip .energyPenalty {
	color: #bb686e;
}
.scheme_tombstone .toolbarIcon .status-indicator-online {
    color: #97bb68;
}
.scheme_tombstone .toolbarIcon .status-indicator-offline {
    color: #bb686e;
}
.scheme_tombstone #topBar .toolbarIcon.pollutionIcon div {
    color: #838486;
}
.scheme_tombstone .toolbarIcon.pollutionIcon {
    background: no-repeat top left url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='14' fill='%23838486' viewBox='0 0 16 16'%3E%3Cpath d='M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z'/%3E%3C/svg%3E");
}
.scheme_tombstone .toolbarIcon.happiness {
    background: no-repeat top left url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' fill='%23bb8c68' viewBox='0, 0, 400,365.7142857142857'%3E%3Cg %3E%3Cpath id='path0' d='M23.809 26.069 C 9.506 63.687,-3.876 244.068,5.454 273.466 C 42.343 389.691,311.117 402.522,383.842 291.529 C 400.102 266.714,401.966 245.454,395.450 159.135 C 383.595 2.098,363.666 -27.023,299.032 18.249 C 261.840 44.299,133.578 44.945,105.157 19.224 C 74.567 -8.459,35.693 -5.188,23.809 26.069 M95.086 43.441 C 121.604 72.743,266.428 71.037,311.785 40.888 C 351.877 14.240,351.212 13.344,366.764 114.971 C 393.215 287.824,351.297 345.860,200.000 345.860 C 57.492 345.860,12.935 293.440,31.361 147.462 C 47.965 15.915,56.931 1.281,95.086 43.441 '%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
.scheme_tombstone .toolbarIcon.energy {
    background: no-repeat top left url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='13' fill='%2397bb68' viewBox='0 0 16 16'%3E%3Cpath d='M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z'/%3E%3C/svg%3E");
}
.scheme_tombstone .toolbarIcon.energy.warning {
    background: no-repeat top left url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='13' fill='%23bb686e' viewBox='0 0 16 16'%3E%3Cpath d='M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z'/%3E%3C/svg%3E");
}
.scheme_tombstone .toolbarIcon.energy.warningWinter {
    background: no-repeat top left url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='13' fill='%23bb8c68' viewBox='0 0 16 16'%3E%3Cpath d='M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z'/%3E%3C/svg%3E");
}

/* ********************************************** */
/* ******************* FOOTER ******************* */
/* ********************************************** */
.scheme_tombstone #footerLinks {
	font-size: 90%;
	bottom: 3px; /* default bottom: 10px; */
	/* default right: 5px; */
	color: transparent; /* a link separator: | on footer links */
}
.scheme_tombstone #footerLinks a {
	color: #c9c9ca;
}
.scheme_tombstone #footerLinks a:hover {
	color: #fdfeff;
}
.scheme_tombstone #crowdjet-expand-container {
	color: #c9c9ca;
	font-family: 'Delius', cursive;
}

/* *********************************************** */
/* ******************* TOOLTIP ******************* */
/* *********************************************** */
/* .scheme_tombstone .tooltip-inner {
	/* default width: 280px; */
	/* font-size: 13px; /* for center tooltip except title, effects and flavor */
/* } */
.scheme_tombstone #tooltip,
.scheme_tombstone .tooltip-block > div {
	/* default padding-left: 3px; */
	padding-bottom: 5px;
	background: #232428;
	color: #a6a7a9; /* tooltip windows == left column: left text */
	border: 1px solid #5b5b5e;
	border-radius: 5px;
}
.scheme_tombstone .tooltip-block > div { /* tooltip on ? top right column */
	padding: 5px;
}
.scheme_tombstone .button_tooltip {
	background-color: transparent;
	backdrop-filter: none; /* default : backdrop-filter: blur(2px); */
}
.scheme_tombstone .button_tooltip div { /* tooltip window == left column: right text | center column:highlighting text */
	color: #c9c9ca;
}
.scheme_tombstone .tooltip-inner .desc { /* Tooltip Window: title text */
    color: #fdfeff;
	/* default font size = font-size: 15px; */
	border-bottom: solid 1px #323337 !important; /* in core.js !important needed */
	/* default padding-top: 4px; */
	margin-bottom: 4px;
}
.scheme_tombstone .tooltip-inner .desc.small {
	font-size: 70%; /* default font-size: 60%; */
	opacity: 1; /* default opacity: 0.8; */
}
.scheme_tombstone .tooltip-inner .desc.small.auto-off {
	color: #bb686e;
}
.scheme_tombstone .tooltip-inner .desc.small.auto-on {
	color: #97bb68;
}
.scheme_tombstone .tooltip-divider { /* border line before effects text */
	/* in core.js text-align: center; !important needed */
	/* in core.js width: 100%; !important needed */
	border-bottom: solid 1px #323337 !important; /* in core.js !important needed */
	padding-bottom: 2px !important; /* in core.js padding-bottom: 4px; !important needed */
	margin-bottom: 2px !important; /* in core.js margin-bottom: 8px; !important needed */
	color: #6897bb !important; /* text centered: Tooltip name */
}
.scheme_tombstone .tooltip-divider.resEffectsTxt { /* text centered: res.effects */
	font-size: 14px;
	color: #9b9b9e !important;
	/* in core.js padding-bottom: 4px; !important needed */
	margin-bottom: 4px !important; /* in core.js margin-bottom: 8px; !important needed */
	margin-top: 4px;
}
.scheme_tombstone .effectName { /* Tooltip Window: effects text */
	color: #9b9b9e !important;
	/* default font size = font-size: 14px; */
}
.scheme_tombstone .rawRes { /* Tooltip Window == text for all missing resources for primary resource */
    color: #6c6c6c;
	font-style: italic;
	padding-left: 12px;
}
.scheme_tombstone .button_tooltip .noRes,
.scheme_tombstone .limited { /* on ressource limited or not attainable */
	color: #bb686e;
}
.scheme_tombstone #tooltip .flavor { /* Tooltip Window: last bottom text on center column tooltip window */
    color: #6897bb;
	font-size: 13px !important; /* in core.js !important needed */
	padding-right: 7px;
}
.scheme_tombstone .button_tooltip.login-popup input[type="email"],
.scheme_tombstone .button_tooltip.login-popup input[type="password"] {
	background-color: #323337;
    color: #c9c9ca;
    padding: 3px 1px 3px 5px;
    margin: 0 5px;
	border: 1px solid #5b5b5e;
	border-radius: 5px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.scheme_tombstone .button_tooltip.login-popup input[type="email"]:focus,
.scheme_tombstone .button_tooltip.login-popup input[type="password"]:focus {
	background-color: #414247;
	color: #fdfeff;
}

/* ***************************************************** */
/* ******************* CENTER COLUMN ******************* */
/* ***************************************************** */
/* .scheme_tombstone #midColumn { */
	/* default margin-top: 30px; */
	/* default width: 630px */
/* } */
.scheme_tombstone .tabInner {
    border: none; /* default border: 1px solid gray; */
	padding: 5px 15px 15px 12px;/* default padding: 15px; */
	/* default margin-bottom: 20px; */
}
.scheme_tombstone .tabInner.Workshop {
	padding-bottom: 70px; /* to view entire dropdownlink of last button */ /* default padding: 15px; */
}
.scheme_tombstone .tabInner.Bonfire,
.scheme_tombstone .tabInner.Trade,
.scheme_tombstone .tabInner.Time {
	padding-bottom: 30px; /* default padding: 15px; */
}
.scheme_tombstone .tabsContainer {
	padding-bottom: 3px; /* default padding-bottom: 15px; */
	/* default padding-top: 2px; */
	padding-left: 5px;
	/* default top: 5px; */
	border-top: none;
	margin-left: 5px;
}
.scheme_tombstone .tabsContainer a {
	padding: 0 5px; /* default padding-right: 5px; */
	border-radius: 5px;
	margin-left: -7px;
}
.scheme_tombstone .tabsContainer a.activeTab {
	color: #fdfeff;
	background-color: #3d3e42;
}
.scheme_tombstone .tabsContainer a.activeTab:hover {
	color: #fdfeff;
}
.scheme_tombstone .tabsContainer a:not(.activeTab):hover {
	background-color: #323337;
}
.scheme_tombstone .tabsContainer span:not(.genericWarning), /* separator | for tab */
.scheme_tombstone .expandAllBar { /* separator | for expandAllBar */
	color: transparent;
}
.scheme_tombstone .tabInner.Workshop span:first-child, /* for text: Craft effectiveness: +xxx% */
.scheme_tombstone .expandAllBar:first-child span { /* for text: Trade effectiveness +xxx% */
	color: #97bb68;
}
.scheme_tombstone .expandAllBar:not(:first-child) {
	font-size: smaller; /* smaller font for expand all and collapse all links */
}
.scheme_tombstone span.genericWarning { /* number of kittens free or engineering free on tab */
	color: #bb686e;
}
.scheme_tombstone .tab.traitLeaderBonus::before {
	content: "\2605\00a0"; /* BLACK STAR */
	color: #6897bb;
	font-size: 0.9em;
}
.scheme_tombstone .tab.engineer::before { /* artisan bonus */
	content: "\2692\00a0"; /* HAMMER AND PICK */
	font-size: 0.9em;
}
.scheme_tombstone .tab.metallurgist::before {
	content: "\267B\00a0"; /* BLACK UNIVERSAL RECYCLING SYMBOL */
	font-size: 0.9em;
}
.scheme_tombstone .tab.chemist::before {
	content: "\2623\00a0"; /* BIOHAZARD SIGN */
	font-size: 0.9em;
}
.scheme_tombstone .tab.merchant::before {
	content: "\2696\00a0"; /* SCALES */
	font-size: 0.9em;
}
.scheme_tombstone .tab.manager::before { /* hunting bonus */
	content: "\27B4\00a0"; /* BLACK-FEATHERED SOUTH EAST ARROW */
	font-size: 0.9em;
}
.scheme_tombstone .tab.scientist::before {
	content: "\269B\00a0"; /* ATOM SYMBOL */
	font-size: 0.9em;
}
.scheme_tombstone .tab.wise::before {
	content: "\2600\00a0"; /* BLACK SUN WITH RAYS */
	font-size: 0.9em;
}
.scheme_tombstone div.bldTopContainer a.activeTab {
	color: #fdfeff;
	opacity: 1; /* default opacity 0.7 on not hover */
}
.scheme_tombstone div.bldTopContainer a.activeTab:hover {
	color: #fdfeff;
}
.scheme_tombstone div.bldTopContainer > a,
.scheme_tombstone div.bldTopContainer > span { /* under tab */
	font-size: 90%;
}
.scheme_tombstone .bldGroupContainer { /* container for all buttons on center column */
	padding: 10px; /* default padding 15px */
	margin-top: 5px; /* default margin 10px */
	border: none;
	border-top: 1px solid #323337;
}
.scheme_tombstone input[type='button'] {
	border-radius: 15px !important; /* !important in default.css */
	border: 1px solid #68696c !important;  /* !important in default.css */
	background-color: #323337 !important;  /* !important in default.css */
	box-shadow: none !important; /* !important in default.css */
	color: #e8e8e8;
	padding: 5px 20px;
	margin-left: 10px;
	font-size: 15px;
}
.scheme_tombstone input[type='button']:hover {
	color: #fdfeff;
	border: 1px solid #1773e8 !important;
	background-color: #1773e8 !important; /* !important in default.css */
	cursor: pointer !important; /* !important in default.css */
}
.scheme_tombstone input[type='button']#observeBtn {
	font-size: 17px; /* default font-size: 15px; */
}
.scheme_tombstone .btn.modern a {
	font-weight: normal;
	background-color: transparent;
	padding: 10px 5px 10px 5px !important; /* default:  padding: 10px 6px 10px 6px !important; */
	text-shadow: none;
	border-left: 1px solid rgba(0 ,0 ,0 , 0.2); /* default border-left: 1px solid #888; */
	/* default margin: -10px 0; */
	/* default min-width: 20px; */
}
.scheme_tombstone .btn.modern:not(.disabled) a {
	color: #939496;
}
.scheme_tombstone .btn.modern.disabled a {
	color: #939496
}
.scheme_tombstone .btn.modern a:hover {
	background-color: rgba(0, 0, 0, 0.2);
	color: #c9c9ca;
}
.scheme_tombstone .btn.modern:not(.disabled):active,
.scheme_tombstone input[type='button']:active,
.scheme_tombstone input[type='button']#observeBtn:active {
    border-color: #fdfeff !important;
}
.scheme_tombstone .linkContent { /* dropdown list on button */
    margin-top: 26px !important; /* for correct vertical align dropdown list */
    width: auto !important;
    border-radius: 5px;
	border: solid 1px #525356;
	background: #323337; /* color pick from button not disabled and hover */
}
.scheme_tombstone .linkContent a {
    width: 36px !important;
    margin-top: 0 !important;
	margin-bottom: 0 !important;
	border-left: none !important; /* default border-left: 1px solid #888; */
}
.scheme_tombstone .btn.modern.disabled .linkContent { /* dropdown list on button disabled */
	background: #1c1d20;  /* color pick from button disabled and hover */
	border-color: rgba(0, 0 , 0, 0.1);
}
.scheme_tombstone .btn.modern.disabled .linkContent a {
	border-left: none !important;
}
.scheme_tombstone .linkContent a:first-child,
.scheme_tombstone .linkContent a:first-child:hover {
	border-radius: 0 5px 0 0;
}
.scheme_tombstone .linkContent a:last-child,
.scheme_tombstone .linkContent a:last-child:hover {
	border-radius: 0 0 5px 5px;
}
/* Apply the right border radius of the button to the rightmost link */
.scheme_tombstone .btn.modern span.btnTitle + a,
.scheme_tombstone .btn.modern:not(.hasSellLink) a.off1Link, /* link minus on buildings buttons */
.scheme_tombstone .btn.modern:not(.hasSellLink) a.unassignLink { /* link minus on kittens jobs buttons */
	/* buttons border-radius: 5px; */
	border-radius: 0 5px 5px 0;
}
.scheme_tombstone .btn.modern .btnContent a.rightestLink { /* for Combust TC button in Time tab and Hold Festival in Settlement tab */
	border-radius: 0 5px 5px 0;
}
.scheme_tombstone .btn .btnContent a.small {
    /* default font-size: 0.7em; */
    line-height: 18px; /* default line-height: 16px; */
}
.scheme_tombstone .panelContainer {
	/* default margin-top: 8px; */
	min-height: 38px; /* default min-height: 30px; */
	background-color: transparent;
	border: 1px solid #525356;
	border-radius: 5px;
}
.scheme_tombstone .tabInner.Trade {
	padding: 2px 15px 10px 15px;
}
.scheme_tombstone .tabInner.Trade .panelContainer {
	margin-top: 4px; /* default margin-top: 8px; */
}
.scheme_tombstone .tabInner.Trade .btn {
	margin-bottom: 4px; /* default margin-bottom: 10px; */
}
.scheme_tombstone .tabInner.Trade div[style^='margin-bottom'] {
	margin-bottom: 5px !important; /* default margin-bottom: 15px; */
}
.scheme_tombstone .tabInner.Stats table.statTable {
	margin: 5px 10px;
	padding: 10px;
	border-radius: 5px;
	color: #939496;
	border: 1px solid #525356;
}
.scheme_tombstone .tabInner.Stats table.statTable td:last-child {
    color: #c9c9ca;
}
.scheme_tombstone .tabInner.Stats table.statTable:first-of-type tr:first-child td:last-child { /* select total kittens value */
	color: #97bb68;
}
.scheme_tombstone .tabInner.Stats table.statTable:first-of-type tr:first-child + tr > td:last-child { /* select kittens dead line */
    color: #bb686e;
}
.scheme_tombstone .tabInner.Stats table.statTable:first-of-type {
	background: transparent;
}
.scheme_tombstone .tabInner.Stats table.statTable:last-of-type {
    background-color: #232428;
}
.scheme_tombstone .tabInner.Stats table.statTable:last-of-type tr:last-child td:last-child { /* select time played value */
	color: #6897bb;
}
.scheme_tombstone .panelContainer div.title {
	padding: 5px 4px 5px 10px; /* default padding: 4px; */ /* default padding-left: 10px; */
	margin-bottom: 3px;
	background-color: transparent;
	color: #fdfeff;
	font-size: 16px !important;
	border: none;
	border-bottom: 1px solid transparent;
	border-radius: 5px 5px 0 0;
}
.scheme_tombstone .tabInner.Trade .panelContainer div.title {
	padding: 3px 4px 3px 20px;
	margin-bottom: 0;
	font-size: 15px !important;
}
.scheme_tombstone .panelContainer .toggle {
	font-size: 13px;
	margin: 4px 4px 0 0; /* default margin: 4px; */
	padding-left: 4px; /* default padding-left 6px */
	padding-right: 4px; /* default padding-right 6px */
	background-color: #323337;
	border: 1px solid #68696c;
	border-radius: 4px;
	color: #fdfeff;
}
.scheme_tombstone .panelContainer .toggle:hover {
	background: #1773e8;
	border-color: #1773e8;
}
/* .scheme_tombstone .container { */
	/* default padding: 10px; */
/* } */
.scheme_tombstone .container.trade-race {
	padding: 5px 10px 5px 10px; /* default padding: 10px; */
}
.scheme_tombstone .container.trade-race .crypto-trade .btn.modern {
	max-width: 127px; /* (button content width - (2 x button border width) - (1 x button margin-right)) / 2 => (264 - 0 -10)/2 = 127 */
}
.scheme_tombstone .container div.currentGovernment { /* for padding-bottom too height */
	padding-bottom: 3px !important;
}
/* .scheme_tombstone .trade-race > .left { */
    /* default width: 50%; */
/* } */
/* .scheme_tombstone .trade-race > .right { */
    /* default width: 50%; */
/* } */
.scheme_tombstone .trade-race .buys {
	color: #bb686e;
	font-size: smaller;
}
.scheme_tombstone .trade-race .sells {
	color: #97bb68;
	font-size: smaller;
}
.scheme_tombstone .trade-race .tradeAmount {
	color: #6c6c6c;
	font-size: smaller;
}
.scheme_tombstone .attitude { /* text for attitude races int trade tab */
	/* default font size = font-size: 90%; */
	font-size: 100%;
	color: #939496 !important;
	text-shadow: none !important;
	text-transform: capitalize;
}
.scheme_tombstone .attitude:before {
	/* default content: "("; */
	content: "\00a0\21C4\00a0"; /* RIGHTWARDS ARROW OVER LEFTWARDS ARROW */
	color: #6897bb;
}
.scheme_tombstone .attitude:after {
	/* default content: ")"; */
	content: ""; /* default content: ")"; */
}
.scheme_tombstone .container.trade-race a[title='Pinned'] {
	font-size: 14px; /* default.css font-size: 0.7em; */
	line-height: unset;
	color: #97bb68;
}
.scheme_tombstone .container.trade-race a[title='Pinned']:hover {
	color: #97bb68;
}
.scheme_tombstone .btn.explore {
	/* default margin-right: 9px; */
	margin-top: 5px;
}
.scheme_tombstone .panelContainer div.censusFilters {
	margin-bottom: 5px; /* for add a margin under the 2 lists (select) in the settlement tab */
}
/* ---------- Village ---------- */
/* container 'Census' -> list of kittens in settlement tab */
.scheme_tombstone .census-block {
    padding: 5px 10px; /* default padding: 5px; */
	/* default margin-bottom: 5px; */
    background-color: #232428;
	border: 1px solid #1c1d20;
	border-radius: 5px;
}
.scheme_tombstone .census-block:hover {
	background-color: #1c1d20;
}
.scheme_tombstone .census-block.simLeader {
	border: 1px solid #525356;
	background-color: #27282c;
}
.scheme_tombstone .census-block.simLeader:hover {
	background-color: #323337;
	border-color: #5b5b5e;
}
.scheme_tombstone .census-block.simLeader a.leaderHref {
	color: #6897bb;
}
.scheme_tombstone .census-block .info { /* info of kitten */
	font-size: 0.9em;
	color: #b7b8b9;
}
.scheme_tombstone .census-block .skill { /* jobs unasigned */
	color: #6c6c6c;
}
.scheme_tombstone .census-block .skill:first-of-type { /* job assigned */
	color: #6897bb;
	font-weight: normal !important;
}
.scheme_tombstone .census-block.simLeader .info span.name {  /* Leader name */
	font-size: 1.2em;
}
.scheme_tombstone .census-block.simLeader .skill:first-of-type { /* Leader job assigned */
	font-size: 1em; /* default font-size: 0.8em; */
}
.scheme_tombstone .container .name.color-none {   /* name of kitten */
	color: #939496;
}
.scheme_tombstone .container .name.color-brown {
	color: #e3b778;
}
.scheme_tombstone .container .name.color-cream {
	color: #ecdd9a;
}
.scheme_tombstone .container .name.color-black {
	color: #000000;
}
.scheme_tombstone .container .name.color-fawn {
	color: #c7a951;
}
.scheme_tombstone .container .name.color-white {
	color: #fafcf7;
}
.scheme_tombstone .container .name.variety-none {
	border: 1px solid transparent;
}
.scheme_tombstone .container .name.variety-dual { /* bicolore */
	border: 1px solid #aaaaaa;
	padding: 0 5px;
}
.scheme_tombstone .container .name.variety-tabby { /* tigré  ou rayé */
	border: 1px dashed #aaaaaa;
	padding: 0 5px;
}
.scheme_tombstone .container .name.variety-torbie { /* marbré strié */
	border: 1px dashed #d3d4d3;
	border-left: dotted #ab9f8c;
	border-right: dotted #ab9f8c;
	padding: 0 5px;
}
.scheme_tombstone .container .name.variety-calico { /* tricolore */
	border: 1px solid #aaaaaa;
	border-top-color: #c69e7a;
	border-bottom-color: #d5906c;
	padding: 0 5px;
}
.scheme_tombstone .container .name.variety-spots { /* tacheté */
	border: 1px dotted #c49474;
	padding: 0 5px;
}
.scheme_tombstone .btn.modern.disabled a.auto-on {
	color: #97bb68;
}
.scheme_tombstone .btn.modern:not(.disabled) a.auto-on {
	color: #97bb68;
}
.scheme_tombstone .btn.modern.disabled a.auto-off {
	color: #bb686e;
}
.scheme_tombstone .btn.modern:not(.disabled) a.auto-off {
	color: #bb686e;
}
.scheme_tombstone .btn.modern a.bld-off,
.scheme_tombstone .btn.modern a.fugit-off {
	color: #bb686e;
}
.scheme_tombstone .btn.modern a.bld-on,
.scheme_tombstone .btn.modern a.fugit-on {
	color: #97bb68;
}
.scheme_tombstone .btn.modern.disabled.craftOn span.btnTitle { /* all buttons with engineer(s) in workshop tab */
	color: #97bb68;
}
.scheme_tombstone .btn.modern:not(.disabled).craftOn span.btnTitle {
	color: #97bb68;
}
.scheme_tombstone td.craftStuffPanel > span { /* title of craft stuff panel */
	color: #b7b8b9;
	font-size: 15px;
	padding-left: 10px;
}
.scheme_tombstone td.craftStuffPanel > table { /* craft stuff panel */
    margin-top: 2px;
    padding: 10px 20px; /* default padding-top: 20px; */
    background-color: #232428;
	border: 1px solid #1c1d20;
    color: #6c6c6c;
	border-radius: 5px;
}

/* ******************************************************** */
/* ******************* ACHIEVEMENTS TAB ******************* */
/* ******************************************************** */
.scheme_tombstone .achievement-header {
	color: #6897bb;
	font-size: 18px;
	margin-bottom: 3px;
	padding-left: 20px;
}
.scheme_tombstone .achievement {
    padding: 8px 5px 10px 8px; /* default padding: 5px; */
	/* default padding-left: 10px; */
	font-size: 16px;
	margin-bottom: 5px; /* default margin-bottom: 10px; */
	background-color: transparent;
	color: grey;
	letter-spacing: 1px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}
.scheme_tombstone .achievement:not(.unethical).unlocked {
	border: 1px solid #525356;
	background-color: #27282c;
	color: #b7b8b9;
}
.scheme_tombstone .achievement:not(.unethical).unlocked:hover {
	background-color: #323337;
	border-color: #5b5b5e;
	color: #fdfeff;
	text-shadow: #fdfeff 2px 0 10px;
}
.scheme_tombstone .achievement.unethical {
	background-color: #402326;
	border: 1px solid #703237;
	color: #bb686e;
}
.scheme_tombstone .achievement.unethical:hover {
	background-color: #502427;
	border: 1px solid #bb686e;
	color: #cc3239;
	text-shadow: #cc3239 2px 0 10px;
}
.scheme_tombstone .achievement:not(.unlocked) {
	background-color: #232428;
	border: 1px solid #1c1d20;
	color: #6c6c6c;
}
.scheme_tombstone .achievement:not(.unlocked):hover {
	background-color: #1c1d20;
}
.scheme_tombstone .achievement:after {
	letter-spacing: normal;
	margin-top: 2px;
	font-size: 90%;
	color: grey;
	text-shadow: none;
}
.scheme_tombstone .achievement:not(.unethical).unlocked:after {
	color: #c9c9ca;
}
.scheme_tombstone .achievement.unethical:after {
	color: #cc8e92;
}
.scheme_tombstone .achievement:not(.unlocked):after {
	color: #939496;
}
.scheme_tombstone .achievement-header .star {
	/* default font size = font-size: 18px; */
	color: #cc7832;
}
.scheme_tombstone .achievement .star {
	/* default font size = font-size: 18px; */
	color: #b7b8b9;
	text-shadow: none;
}
.scheme_tombstone .achievement.unlocked .star {
	color: #cc7832;
}

/* **************************************************** */
/* ******************* RIGHT COLUMN ******************* */
/* **************************************************** */
.scheme_tombstone #rightColumn {
    /* default padding-left: 8px; */
	width: calc(50% - 355px);
	max-width: 440px; /* default max-width: 400px; */
    /* default min-width: 250px; */
	top: 30px; /* default top: 20px; */
	/* default margin-top: 4px */
}
.scheme_tombstone #toggleCenter,
.scheme_tombstone span.toggleCenter {
	color: #c9c9ca;
	opacity: 0.6; /* default opacity: 0.2; */
	cursor: pointer;
}
.scheme_tombstone span.toggleCenter {
	opacity: 1; /* for have #toggleCenter same color */
}
.scheme_tombstone #toggleCenter:hover,
.scheme_tombstone div#toggleCenter:hover > span.toggleCenter {
	color: #fdfeff;
	opacity: 1.0;
}
.scheme_tombstone #calendarDiv {
	color: #97bb68;
	border-radius: 5px;
	padding: 5px;
    margin-top: 5px;
}
.scheme_tombstone #calendarSign {
   font-size: 120%;
}
.scheme_tombstone #calendarSign:hover {
   cursor: default;
}
.scheme_tombstone .right-tab-header a.active {
	border-top: none; /* default border-top: 1px solid rgba(128, 128, 128, 0.4); */
	color: #fdfeff;
}
.scheme_tombstone .right-tab-header a.active:hover {
	color: #fdfeff;
}
.scheme_tombstone .right-tab-header a:not(.active) {
	opacity: 0.7;
}
.scheme_tombstone .right-tab-header a:not(.active):hover {
	opacity: 1;
}
.scheme_tombstone div#observeButton {
	margin-top: 20px; /* default margin-top: 15px */
	height: 35px; /* default height: 30px; */
	margin-bottom: 3px;
}
.scheme_tombstone #rightTabChat {
	margin-top: 10px;
}
.scheme_tombstone div.console-intro { /* Text on right column: "You are a kitten in a catnip forest." */
	color: #47474a;
	text-shadow: 0 -2px 1px #000000;
	border-top: 1px solid #323337 !important; /* default border-top: 1px solid gray; */
}
.scheme_tombstone #clearLogHref { /* Link in right column: Clear log */
	font-size: 85%;
}
.scheme_tombstone #logFiltersBlock > a { /* Link in right column: [+]Log Filters */
	font-size: 85%;
	margin-left: 5px;
}
.scheme_tombstone #pauseBtn { /* Link in right column: pawse */
	margin-left: 5px;
}
.scheme_tombstone #gameLog {
	/* default overflow-y: auto !important; */
	margin: 15px 10px 5px 10px;
	padding: 7px 10px 10px 10px !important;
	/* 3 lines of code below if border or box-shadow to have scrollbar */
	min-height: 5% !important;
	height: unset !important;
	max-height: calc(100% - 100px) !important;
	background-color: #323337;
	border: 1px solid transparent;
	border-radius: 5px;
}
.scheme_tombstone #gameLog span.msg:not(.type_date)  {
	margin-left: 1.2em;
	list-style-type: disc;
	padding-left: 0.3em;
}
.scheme_tombstone #gameLog span.msg:not(.type_date)::marker {
	font-size: 10px;
}
.scheme_tombstone #gameLog span.msg.noBullet {
	margin-left: 2.3em !important;
	list-style-type: '\25AA' !important; /* black small square */ /* !important in default.css */
}
.scheme_tombstone #gameLog span.msg.noBullet::marker {
	font-size: 10px;
}
.scheme_tombstone .msg {
	font-size: 90%;
	font-weight: normal;
	color: #b7b7b9;
}
.scheme_tombstone .msg.type_notice {
	color: #6897bb;
}
.scheme_tombstone .msg.type_important {
    color: #bb8c68;
}
.scheme_tombstone .msg.type_alert {
    color: #bb686e;
}
.scheme_tombstone .msg.type_urgent {
	color: #b568bb; /* default color: blueviolet; */
	font-size: 1.1em;
}
.scheme_tombstone .msg.type_date {
	/* default margin-top: 15px; */
	color: #fdfeff;
	/* default font-size: 90%; */
	text-transform: none;
	border-bottom: solid 1px #525356;
	padding-left: 5px;
}

/* *************************************************** */
/* ******************* LEFT COLUMN ******************* */
/* *************************************************** */
.scheme_tombstone #leftColumn {
	margin-top: 10px; /* default margin-top: 4px; */
	/* default width: 25%; */
    /* default min-width: 300px; */
	/* default max-width: 400px; */
	padding-right: 10px; /* default padding right: 20px */
}
/* .scheme_tombstone a.link { */
    /* default padding-right: 10px; */
/* } */
.scheme_tombstone .res-toolbar.right {
	padding-right: 20px;
	/* default margin-right:-18px; */
}
.scheme_tombstone a.link.collapse {
	opacity: 0.5; /* default opacity: 0.2; */
}
.scheme_tombstone a.link.collapse:hover {
	opacity: 1;/* default opacity: 0.9; */
	color: #fdfeff;
}
.scheme_tombstone #leftColumn .res-toolbar a.link.toggled {
    color: #1773e8;
}
.scheme_tombstone div.tooltip-block:hover {
	cursor: default;
}
.scheme_tombstone div.tooltip-block > span {
	color: #c9c9ca;
}
.scheme_tombstone div.tooltip-block:hover > span {
	color: #fdfeff;
}
.scheme_tombstone .res-table {
	max-width: 352px;/* default max-width: 340px; */
    border-collapse: collapse; /* gain of 3 pixel by border -> no margin bottom after */
	margin-left: 2px; /* without 0px margin left for all ressources */
}
/* .scheme_tombstone .res-toolbar.left { */
    /* default padding-left: 5px; */
/* } */
/* .scheme_tombstone .res-cell { */
	/* default padding-left: 2px; */
    /* default padding-right: 2px; */
/* } */
.scheme_tombstone .craftTable {
	margin-bottom: 18px !important; /* for correct margin bottom due of the line above with border-collapse: collapse on .res-Table ! */
	/* default padding-bottom: 50px; */
}
.scheme_tombstone .res-cell.craft-link {
	color: #c9c9ca;
	/* default width: 20px; */
	/* default max-width: 60px; */
}
/* .scheme_tombstone .res-cell.craft-link .plusPrefix { */
    /* default font-size: 80%; */
/* } */
.scheme_tombstone .res-cell.craft-link.all { /* column craft all */
	font-size: 95%; /* default font-size: 85%; */
	opacity: 0.6; /* default opacity: 0.4; */
	color: #c9c9ca;
}
.scheme_tombstone .res-cell.craft-link:hover,
.scheme_tombstone .res-cell.craft-link.all:hover { /* craft table left column */
    color: #fdfeff;
	text-decoration: none;
	opacity: 1;
}
.scheme_tombstone .res-cell.resource-name {
	color: #e8e8e9;
}
.scheme_tombstone .res-row {
	padding-bottom: 2px; /* default padding-bottom: 4px; */
}
.scheme_tombstone .res-row:hover {
	background:  #1c1d20;
	cursor: default;
}
.scheme_tombstone .res-row.highlited { /* higlighting ressources when hover button on center windows */
	background:  #1c1d20;
}
.scheme_tombstone .res-toolbar {
	white-space: nowrap;
}
/* .scheme_tombstone div.res-cell.resource-name {  */
	/* default width: 60px; */
	/* default max-width: 85px; */
/* } */
.scheme_tombstone .res-row.hidden .res-cell.resource-name {
    text-decoration: none !important; /* default text-decoration: underline; */
	/* default text-decoration-style: dotted; */
}
.scheme_tombstone .maxRes,
.scheme_tombstone .resAmount,
.scheme_tombstone .resPerTick,
.scheme_tombstone .res-cell.resource-value,
.scheme_tombstone .craftTable {
	font-family: 'Roboto', sans-serif;
}
.scheme_tombstone .resource_faith .resource-name,
.scheme_tombstone .resource_kittens .resource-name {
	color: #7c7c7c !important;
}
.scheme_tombstone .resource_steel .resource-name,
.scheme_tombstone .resource_gear .resource-name,
.scheme_tombstone .resource_alloy .resource-name,
.scheme_tombstone .resource_megalith .resource-name {
	color: #7c7c7c !important;
}
.scheme_tombstone .maxRes {
	color: #838486;
}
.scheme_tombstone .resAmount {
    color: #a7a8a9;
}
.scheme_tombstone .resLimitWarn {
	color: #bb8c68;
	opacity: 1; /* default opacity: 0.75 */
}
.scheme_tombstone .resLimitNotice {
	color: #bb686e;
}
.scheme_tombstone .resPerTick {
	cursor: default;
	color: #b7b8b9;
	font-size: 90%;
}
.scheme_tombstone .res-row.resLeaderBonus .resPerTick {
	color: #6897bb;
}
.scheme_tombstone .res-row.craftEngineer .res-cell.resource-value {
	color: #97bb68;
}
.scheme_tombstone div#advisorsContainer {
	color: #bb686e;
	/* default padding-top: 10px; */
}
.scheme_tombstone .res-cell.resource-value {
	/* default width: 75px; */
	/* default max-width: 90px; */
	color: #a7a8a9;
}
.scheme_tombstone #fastPraiseContainer > a:hover  {
	color: #fdfeff;
	text-shadow: #fdfeff 2px 0 10px;
}
.scheme_tombstone .res-cell.positive-weather { /* to change the color for bonus cell according to the season */
	color: #97bb68;
	font-size: 85%;
}
.scheme_tombstone .res-cell.negative-weather { /* to change the color for penalty cell according to the season */
	color: #bb686e;
	font-size: 85%;
}

/* ************************************************* */
/* ******************* SCROLLBAR ******************* */
/* ************************************************* */
.scheme_tombstone ::-webkit-scrollbar-track,
.scheme_tombstone .dialog::-webkit-scrollbar-track,
.scheme_tombstone textarea#importData::-webkit-scrollbar-track,
.scheme_tombstone textarea#exportData::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: transparent;
}
.scheme_tombstone ::-webkit-scrollbar {
	width: 8px;
	border-radius: 0;
	background-color: transparent;
}
.scheme_tombstone .dialog::-webkit-scrollbar {
	width: 8px;
	border-radius: 0;
	background-color: transparent;
}
.scheme_tombstone textarea#importData::-webkit-scrollbar,
.scheme_tombstone textarea#exportData::-webkit-scrollbar {
	width: 8px;
	border-radius: 0;
	background-color: transparent;
}
.scheme_tombstone ::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.2);
}
.scheme_tombstone .dialog::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.2);
}
.scheme_tombstone textarea#importData::-webkit-scrollbar-thumb,
.scheme_tombstone textarea#exportData::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.2);
}
.scheme_tombstone #gameLog::-webkit-scrollbar {
	width: 6px;
}
.scheme_tombstone #gameLog::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background: linear-gradient(0deg, transparent 0%, transparent 4%, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0.3) 95%, transparent 96%, transparent 100%);
}
/* Only FireFox */
.scheme_tombstone #leftColumn,
.scheme_tombstone #rightColumn,
.scheme_tombstone #midColumn,
.scheme_tombstone .dialog,
.scheme_tombstone textarea#importData,
.scheme_tombstone textarea#exportData,
.scheme_tombstone #gameLog {
	scrollbar-width: thin;
}
.scheme_tombstone #leftColumn,
.scheme_tombstone #rightColumn,
.scheme_tombstone #midColumn,
.scheme_tombstone .dialog,
.scheme_tombstone textarea#importData,
.scheme_tombstone textarea#exportData {
	scrollbar-color: rgba(0, 0, 0, 0.2) transparent !important;
}
.scheme_tombstone #gameLog {
	scrollbar-color: rgba(0, 0, 0, 0.2) transparent !important;
}
.scheme_tombstone select {
   scrollbar-width: auto !important;
}
